{% extends "base.html" %}
{% load static %}

<!--- TITLE -------->
{% block title %}
Log in
{% endblock %}
{% block breadcrumb %}
Log in
{% endblock %}

<!--- CSS ---------->
{% block css %}
<style>

   td, th{
      padding:0px 10px 15px 15%;
      vertical-align: middle;
   }
   body {
        background-image: url({% static 'season/siteimages/magicCar.jpg' %});
      }
</style>
{% endblock %}


<!--- BODY CONTENT -------->
{% block content %}


<div class = "container">
    <div class="row justify-content-md-center">
        <div class = "card col-lg-6 p-3 mt-5">

            <h2 class = "pb-3">Log in</h2>
            <br />
            {% if form.errors %}
            <h5 style="color:red">Your username and password didn't match. Please try again.</h5>

            {% endif %}
            <br />
            <div class="login-form">
               <form action="{% url 'login' %}" method="post">
                  <table>
                     {{ form.as_table }}
                  </table>
                  {% csrf_token %}
                  <input type="hidden" name="next" value="{{ next }}" />
                  <br /><br />
                  <div class="col-md-12 text-center">
                     <button type="submit" class="btn btn-primary mb-2" Log-in>Log in</button>
                  </div>
               </form>
               <br />
               <p><a href="{% url "password_reset" %}">Forgotten your password? Click here to renew..</a></p>
         </div>
     </div>
 </div>


{% endblock %}
