

{% extends "base.html" %}

<!--- TITLE -------->
{% block title      %}Password changed{% endblock %}
{% block breadcrumb %}Password changed{% endblock %}

<!--- CSS ---------->
{% block css %}
<style>
   p{
      font-size:1.2rem;
   }
</style>
{% endblock %}

<!--- BODY CONTENT -------->
{% block content %}


<div class = "container">
    <div class="row justify-content-md-center">
        <div class = "card col-lg-6 p-3 mt-5">

            <h2 class = "pb-3">Password changed</h2>
            <br />
            <p>Password changed successfully - don't forget to write it down!</p>
            <br />
         </div>
     </div>
 </div>



{% endblock %}
