{% extends "base.html" %}

<!--- TITLE -------->
{% block title %}Reset your password{% endblock %}

<!--- CSS ---------->
{% block css %}
<style>
   p{
      font-size:1.2rem;
   }
</style>
{% endblock %}

<!--- BODY CONTENT -------->
{% block content %}

<div style = "padding: 10% 0px 15% 15%;">
   <h1 style = "padding: 5% 0% 5% 0%;">Reset your password</h1>
  <br />
  {% if validlink %}
    <p>Please enter your new password twice:</p>
    <form method="post">
      <table>
         {{ form.as_table }}
      </table>
      {% csrf_token %}
      <p style = "padding: 3% 0px 0% 15%;"><input type="submit" value="Change my password" /></p>
   </form>

{% else %}

   <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>

{% endif %}

</div>
{% endblock %}
