
{% extends "base.html" %}

<!--- TITLE -------->
{% block title %}
Reset your password
{% endblock %}

<!--- CSS ---------->
{% block css %}
<style>
   p{
      font-size:1.2rem;
   }
</style>
{% endblock %}

<!--- BODY CONTENT -------->
{% block content %}
<div style = "padding: 10% 0px 15% 15%;">
   <h1 style = "padding: 5% 0% 5% 0%;">Reset your password</h1>
  <br />
  <p>We've emailed you instructions for setting your password.</p>
  <br />
  <p>If you don't receive an email, please make sure you've entered the address you registered with.</p>
</div>
{% endblock %}
