

{% extends "base.html" %}

<!--- TITLE -------->
{% block title %}
Reset your password
{% endblock %}

<!--- CSS ---------->
{% block css %}
<style>
   p{
      font-size:1.2rem;
   }
</style>
{% endblock %}

<!--- BODY CONTENT -------->
{% block content %}
<div style = "padding: 10% 0px 15% 15%;">
   <h1 style = "padding: 5% 0% 5% 0%;">Forgotten your password?</h1>
   <br />
   <p>Enter your e-mail address to obtain a new password.</p>

   <form method="post">
      <table>
         {{ form.as_table }}
      </table>
      <p style = "padding: 3% 0px 0% 25%;"><input type="submit" value="Send e-mail"></p>
      {% csrf_token %}
   </form>

</div>
{% endblock %}
