{% extends "base.html" %}

<!--- TITLE -------->

{% block title      %}Password reset{% endblock %}
{% block breadcrumb %}Password reset{% endblock %}

<!--- CSS ---------->
{% block css %}
<style>
   p{
      font-size:1.2rem;
   }
</style>
{% endblock %}

<!--- BODY CONTENT -------->
{% block content %}

<div class = "container">
    <div class="row justify-content-md-center">
        <div class = "card col-lg-6 p-3 mt-5">

            <h2 class = "pb-3">Password Now Reset</h2>
            <br /><br />
            <p>Your password has been set. You can <a href="{% url "login" %}">log in now</a></p>
            <br /><br />
            <br /><br />

         </div>
     </div>
 </div>


{% endblock %}
