

{% extends "base.html" %}

<!--- TITLE -------->
{% block title      %}Reset your password{% endblock %}
{% block breadcrumb %}Reset your password{% endblock %}


<!--- CSS ---------->
{% block css %}
<style>
   p{
      font-size:1.2rem;
   }
   th, td{
      padding-left: 5%;
      vertical-align:top;
   }
</style>
{% endblock %}

<!--- BODY CONTENT -------->
{% block content %}

<div class = "container">
    <div class="row justify-content-md-center">
        <div class = "card col-lg-6 p-3 mt-5">

            <h2 class = "pb-3">Forgotten your Password?</h2>
            <br />
            <p>Enter your e-mail address to obtain a new password:</p>
            <br />
            <form method="post" class = "pl-5">
               <table>
                  {{ form.as_table }}
               </table>
               <br /><br /><br /><br />
               <div class="col-md-12 text-center">
                   <button type="submit" class="btn btn-primary mb-2">Send e-mail</button>
               </div>

               {% csrf_token %}
            </form>


         </div>
     </div>
 </div>

{% endblock %}
