

{% extends "base.html" %}

<!--- TITLE -------->
{% block title %}Change your password{% endblock %}

<!--- CSS ---------->
{% block css %}
<style>
   p{
      font-size:1.2rem;
   }
</style>
{% endblock %}

<!--- BODY CONTENT -------->
{% block content %}
<div style = "padding: 10% 0px 15% 15%;">
   <h1 style = "padding: 2% 0% 1% 0%;">Change your password</h1>
   <br />
   <p>Use the form below to change your password.</p>

   <form method="post">
      <table>
         {{ form.as_table }}
      </table>
      <br />
      <p style = "padding: 3% 0px 0% 25%;">
         <input type="submit" value="Change">
      </p>
      {% csrf_token %}
   </form>
</div>
{% endblock %}
