{% extends "base.html" %}

<!--- TITLE -------->
{% block title      %}Reset your password{% endblock %}
{% block breadcrumb %}Reset your password{% endblock %}


<!--- CSS ---------->
{% block css %}
<style>
   p{
      font-size:1.2rem;
   }
   th, td{
      padding-left: 5%;
      vertical-align:top;
   }
</style>
{% endblock %}

<!--- BODY CONTENT -------->
{% block content %}


<div class = "container">
    <div class="row justify-content-md-center">
        <div class = "card col-lg-6 p-3 mt-5">

            <h2 class = "pb-3">Reset your password</h2>
            <br />
            <br />
            {% if validlink %}
                 <p>Please enter your new password twice:</p>
                 <br />
                 <form method="post">
                   <table>
                      {{ form.as_table }}
                   </table>
                   {% csrf_token %}
                   <br />
                   <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-primary mb-2">Change my password</button>
                   </div>
                </form>

             {% else %}

                <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>

             {% endif %}


         </div>
     </div>
 </div>


{% endblock %}
