{% extends "base.html" %}
{% load static %}

<!---- TITLE --------->
{% block title.     %}League {% endblock %}
{% block breadcrumb %}My League{% endblock %}

<!---- STYLE --------->
{% block css %}
<style>
   .myteam{
      background-color: #DA6020;
   }
   td:nth-child(2) img{
      max-width: 100px;
   }
   a, a:hover, a:visited, a:active {
      color: inherit;
      text-decoration: none;
   }
   .table-sm th, .table-sm td {
       padding: 0.3rem;
   }
   td.teamInfo{
      padding: 0rem;
   }
   div.collapse{
      background-color: #DA6020;
   }
</style>
{% endblock %}

<!---- BODY CONTENT --------->
{% block content %}

<div class="container">

      <im g src="{% static 'academy/webPageImages/FFDAcademy_Logo.png' %}" alt="" width="40%" class = "mb-5">
      <h1>League Standings - {{ heading }} </h1>
      <br /><br />
      <!-- tabs div -->
      <div class="row col-12">
         <div class="tabs-menu col-lg-10 mb-3">
             <ul class="nav nav-pills">
                 <li class="nav-item">
                     <a href="{% url 'leagueposition'%}?tab=F1" class="nav-link {% if heading == 'Formula 1 only' %}active{% endif%}">Formula 1</a>
                 </li>
                 <li class="nav-item">
                     <a href="{% url 'leagueposition'%}?tab=F2" class="nav-link {% if heading == 'Formula 2 only' %}active{% endif%}">Formula 2</a>
                 </li>
                 <li class="nav-item">
                     <a href="{% url 'leagueposition'%}?tab=F3" class="nav-link {% if heading == 'Formula 3 only' %}active{% endif%}">Formula 3</a>
                 </li>
                 <li class="nav-item">
                     <a href="{% url 'leagueposition'%}?tab=WS" class="nav-link {% if heading == 'W Series only' %}active{% endif%}">W Series</a>
                 </li>
                 <li class="nav-item">
                    <a href="{% url 'leagueposition'%}" class="nav-link {% if heading == 'Overall' %}active{% endif%}" >Overall</a>
                 </li>
             </ul>
          </div>
          <!-- end tabs div -->
      </div>

      <!-- Fixed table headings -->
      <div class="card overflow-auto col-12">
         <h3>Top 5: </h3>
         <table class="table table-sm table-hover">
            <tr>
               <th class="pr-3">Pos. (overall)</th>
               <th> </th>
               <th> Team </th>
               <th class="text-right {% if heading == 'Formula 1 only' %} h5 text-danger{% endif%}"> <a href="{% url 'leagueposition'%}?tab=F1">F1 Points</a> </th>
               <th class="text-right {% if heading == 'Formula 2 only' %} h5 text-danger{% endif%}"> <a href="{% url 'leagueposition'%}?tab=F2">F2 Points</a></th>
               <th class="text-right {% if heading == 'Formula 3 only' %} h5 text-danger{% endif%}"> <a href="{% url 'leagueposition'%}?tab=F3">F3 Points</a></th>
               <th class="text-right {% if heading == 'W Series only' %} h5 text-danger{% endif%}" > <a href="{% url 'leagueposition'%}?tab=WS">WS Points</a></th>
               <th class="text-right {% if heading == 'Overall' %} h5 text-danger{% endif%}"       > <a href="{% url 'leagueposition'%}">Total Points</a></th>
            </tr>
            {% for team in league_list %}
            {% if user.team.teamName  ==  team.teamName %}
            <tr data-toggle="collapse" data-target="#accordionTop{{ forloop.counter }}" class="clickable myteam">
            {% else %}
            <tr data-toggle="collapse" data-target="#accordionTop{{ forloop.counter }}" class="clickable">
            {% endif %}
               <td style="width:10%" class="text-center align-middle pr-3"><b style="font-size:1.2rem;">{{ forloop.counter }}</b>&nbsp; ({{team.league_position}})</td>
               <td style="width:20%"> <center><img class="rounded-circle" src=" {{team.teamLogo.url}}" height="50px"></center> </td>
               <td style="width:30%" class="align-middle text-left"> {{team.teamName}} {% if user.team.teamName  ==  team.teamName %}  <a name = "myteam">!</a>  {% endif %}  </td>
               <td class="align-middle text-right {% if heading == 'Formula 1 only' %} h5 text-bold{% endif%}"> {{team.points_f1 |floatformat:0 }} </td>
               <td class="align-middle text-right {% if heading == 'Formula 2 only' %} h5 text-bold{% endif%}"> {{team.points_f2 |floatformat:0 }} </td>
               <td class="align-middle text-right {% if heading == 'Formula 3 only' %} h5 text-bold{% endif%}"> {{team.points_f3 |floatformat:0 }} </td>
               <td class="align-middle text-right {% if heading == 'W Series only'  %} h5 text-bold{% endif%}"> {{team.points_ws |floatformat:0 }} </td>
               <td class="align-middle text-right {% if heading == 'Overall'        %} h5 text-bold{% endif%}"> {{team.points_total |floatformat:0 }} </td>
            </tr>
            <tr>
               <td colspan="8" class = "teamInfo">
                  <div id="accordionTop{{ forloop.counter }}" class="collapse" >
                     <div class="row p-2">
                         <div class="col-md-6 col-xl-6">
                             <div class="card text-white bg-info pb-0 mb-2">
                                 <div class="card-body" >
                                    <span style="float:left; width:70%">
                                       <blockquote class="card-bodyquote mb-0">
                                         <h3 class = "mb-3">{{team.teamName}} - F1</h3>
                                         <h5 class = "pl-3 pr-3"><b>Driver 1 :</b> {{team.p1_1}}</h5>
                                         <h5 class = "pl-3 pr-3"><b>Driver 2:</b>  {{team.p1_2}}</h5>
                                       </blockquote>
                                    </span>
                                    <span class = "pl-3" style="width:25%">
                                       <img src="{% static 'season/siteimages/F1.png' %}" height="100px" >
                                    </span>
                                 </div>
                             </div>
                         </div>
                         <div class="col-md-6 col-xl-6">
                             <div class="card text-white bg-info pb-0 mb-2">
                                 <div class="card-body">
                                    <span style="float:left; width:70%">
                                       <blockquote class="card-bodyquote mb-0">
                                         <h3 class = "mb-3">F2</h3>
                                         <h5 class = "pl-3 pr-3"><b>Driver 1 :</b> {{team.p2_1}}</h5>
                                         <h5 class = "pl-3 pr-3"><b>Driver 2:</b>  {{team.p2_2}}</h5>
                                       </blockquote>
                                    </span>
                                    <span class = "pl-3" style="width:25%">
                                       <img src="{% static 'season/siteimages/F2.png' %}" height="100px" >
                                    </span>
                                 </div>
                             </div>
                         </div>

                         <div class="col-md-6 col-xl-6">
                             <div class="card text-white bg-info pb-0 mb-1">
                                 <div class="card-body">
                                    <span style="float:left; width:70%">
                                       <blockquote class="card-bodyquote mb-0">
                                         <h3 class = "mb-3">F3</h3>
                                         <h5 class = "pl-3 pr-3"><b>Driver 1 :</b> {{team.p3_1}}</h5>
                                         <h5 class = "pl-3 pr-3"><b>Driver 2:</b>  {{team.p3_2}}</h5>
                                       </blockquote>
                                    </span>
                                    <span class = "pl-3" style="width:25%">
                                       <img src="{% static 'season/siteimages/F3.png' %}" height="100px" >
                                    </span>
                                 </div>
                             </div>
                         </div>

                         <div class="col-md-6 col-xl-6">
                             <div class="card text-white bg-info pb-0 mb-1">
                                 <div class="card-body">
                                    <span style="float:left; width:70%">
                                       <blockquote class="card-bodyquote mb-0">
                                         <h3 class = "mb-3">W Series</h3>
                                         <h5 class = "pl-3 pr-3"><b>Driver 1 :</b> {{team.pw_1}}</h5>
                                         <h5 class = "pl-3 pr-3"><b>Driver 2:</b>  {{team.pw_2}}</h5>
                                       </blockquote>
                                    </span>
                                    <span class = "pl-3" style="width:25%">
                                       <img src="{% static 'season/siteimages/W.png' %}" height="100px" >
                                    </span>
                                 </div>
                             </div>
                         </div>
                     </div>
                  </div>
               </td>
            </tr>
            {% endfor %}
         </table>
      </div>
      <!-- Scrollable table --->
      <div class="card overflow-auto col-12" style="max-height: 800px;">
         <h3>My Closest Rivals: </h3>
         <div>
            <table class="table table-sm table-hover">

               {% for team in sublist %}
               {% if user.team.teamName  ==  team.2 %}
               <tr data-toggle="collapse" data-target="#accordion{{ forloop.counter }}" class="clickable myteam">
               {% else %}
               <tr data-toggle="collapse" data-target="#accordion{{ forloop.counter }}" class="clickable">
               {% endif %}

                  <td style="width:10%" class="text-center align-middle pr-3"><b style="font-size:1.2rem;"><b style="font-size:1.2rem;">{{ team.0 }}</b>&nbsp; ({{ team.8 }})</b></td>
                  <td style="width:20%"> <center><img class="rounded-circle" src=" {{team.1}}" height="50px"></center> </td>
                  <td style="width:30%"class="align-middle text-left"> {{team.2}}   </td>
                  <td class="align-middle text-right {% if heading == 'Formula 1 only' %} h5 text-bold{% endif%}"> {{team.3 |floatformat:0 }} </td>
                  <td class="align-middle text-right {% if heading == 'Formula 2 only' %} h5 text-bold{% endif%}"> {{team.4 |floatformat:0 }} </td>
                  <td class="align-middle text-right {% if heading == 'Formula 3 only' %} h5 text-bold{% endif%}"> {{team.5 |floatformat:0 }} </td>
                  <td class="align-middle text-right {% if heading == 'W Series only'  %} h5 text-bold{% endif%}"> {{team.6 |floatformat:0 }} </td>
                  <td class="align-middle text-right {% if heading == 'Overall'        %} h5 text-bold{% endif%}"> {{team.7 |floatformat:0 }} </td>
               </tr>
               <tr>
                  <td colspan="8" class = "teamInfo">
                     <div id="accordion{{ forloop.counter }}" class="collapse" >
                        <div class="row p-2">
                            <div class="col-md-6 col-xl-6">
                                <div class="card text-white bg-info pb-0 mb-2">
                                    <div class="card-body" >
                                       <span style="float:left; width:70%">
                                          <blockquote class="card-bodyquote mb-0">
                                            <h3 class = "mb-3">{{team.2}} - F1</h3>
                                            <h5 class = "pl-3 pr-3"><b>Driver 1 :</b> {{team.9}}</h5>
                                            <h5 class = "pl-3 pr-3"><b>Driver 2:</b>  {{team.10}}</h5>
                                          </blockquote>
                                       </span>
                                       <span class = "pl-3" style="width:25%">
                                          <img src="{% static 'season/siteimages/F1.png' %}" height="100px" >
                                       </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-6">
                                <div class="card text-white bg-info pb-0 mb-2">
                                    <div class="card-body">
                                       <span style="float:left; width:70%">
                                          <blockquote class="card-bodyquote mb-0">
                                            <h3 class = "mb-3">F2</h3>
                                            <h5 class = "pl-3 pr-3"><b>Driver 1 :</b> {{team.11}}</h5>
                                            <h5 class = "pl-3 pr-3"><b>Driver 2:</b>  {{team.12}}</h5>
                                          </blockquote>
                                       </span>
                                       <span class = "pl-3" style="width:25%">
                                          <img src="{% static 'season/siteimages/F2.png' %}" height="100px" >
                                       </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-xl-6">
                                <div class="card text-white bg-info pb-0 mb-1">
                                    <div class="card-body">
                                       <span style="float:left; width:70%">
                                          <blockquote class="card-bodyquote mb-0">
                                            <h3 class = "mb-3">F3</h3>
                                            <h5 class = "pl-3 pr-3"><b>Driver 1 :</b> {{team.13}}</h5>
                                            <h5 class = "pl-3 pr-3"><b>Driver 2:</b>  {{team.14}}</h5>
                                          </blockquote>
                                       </span>
                                       <span class = "pl-3" style="width:25%">
                                          <img src="{% static 'season/siteimages/F3.png' %}" height="100px" >
                                       </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-xl-6">
                                <div class="card text-white bg-info pb-0 mb-1">
                                    <div class="card-body">
                                       <span style="float:left; width:70%">
                                          <blockquote class="card-bodyquote mb-0">
                                            <h3 class = "mb-3">W Series</h3>
                                            <h5 class = "pl-3 pr-3"><b>Driver 1 :</b> {{team.15}}</h5>
                                            <h5 class = "pl-3 pr-3"><b>Driver 2:</b>  {{team.16}}</h5>
                                          </blockquote>
                                       </span>
                                       <span class = "pl-3" style="width:25%">
                                          <img src="{% static 'season/siteimages/W.png' %}" height="100px" >
                                       </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                  </td>
               </tr>
               {% endfor %}
            </table>
         </div>
      </div>
   </div>
</div>
<br /><br /><br /><br /><br />
{% endblock %}
<!---- BODY CONTENT BLOCK --------->

<!---------------------- FOOTER BLOCK  ------------------->
{% block footer %}
{% endblock %}
<!---------------------- FOOTER BLOCK  ------------------->

<!---------------------- JAVASCRIPT BLOCK  ------------------->
{% block javascript %}
{% endblock %}
<!---------------------- JAVASCRIPT BLOCK  ------------------->
