{% extends "base.html" %}
{% load static %}
{% load blog_tags %}

<!---- TITLE --------->
{% block title.     %}Dashboard {% endblock %}
{% block breadcrumb %}Dashboard {% endblock %}

<!---- STYLE --------->
{% block css %}
<!---This css makes scroller in process box stay in shape -->
<link href="{% static 'season/assets/libs/metrojs/release/MetroJs.Full/MetroJs.min.css' %}" rel="stylesheet" type="text/css" />

<style>

</style>
{% endblock %}

<!---- BODY CONTENT --------->
{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->

        <div class="container-fluid">
            <div class="row justify-content-md-center">

               <div class="col-xl-3">
                   {% tag_player_card %}
               </div>

               <div class="col-xl-4">
                 {% tag_pi_formula_points %}
               </div>

               <div class="col-xl-3">
                   {% tag_show_next_race_sidebar 5 %}
              </div>

            </div>
<!--end row 1-->
            <div class="row justify-content-md-center">
                <div class="col-xl-10">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title mb-3">Driver Results</h5>
                            <div class="row justify-content-end">
                                <div class="col-xl-12 align-self-center">
                                    <ul class="list-unstyled list-inline float-right">
                                        <li class="list-inline-item px-3">
                                            <h5 class="mt-0">$ 42,000 </h5>
                                            <small class="font-size-14 text-muted">Total Budget</small>
                                        </li>
                                        <li class="list-inline-item px-3">
                                            <h5 class="mb-2">$ 7,200 </h5>
                                            <small class="font-size-14 text-muted">Remaining</small>
                                        </li>
                                        <li class="list-inline-item px-3">
                                            <h5 class="text-danger mb-2"><i class="mdi mdi-arrow-down-bold font-size-14 text-danger"></i> 7.9% </h5>
                                            <span class="font-size-14 text-danger">Over Target Currently</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div id="extra-area-chart" class="morris-charts project-budget-chart" style="height: 322px;" dir="ltr" ></div>
                            <ul class="list-unstyled text-center text-muted mb-0 mt-2">
                                <li class="list-inline-item font-size-13"><i class="mdi mdi-album font-size-16 text-primary mr-2"></i>Total Budget</li>
                                <li class="list-inline-item font-size-13"><i class="mdi mdi-album font-size-16 text-success mr-2"></i>Amount Used</li>
                                <li class="list-inline-item font-size-13"><i class="mdi mdi-album font-size-16 text-secondary mr-2"></i>Target Amount</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
<!--end row 2 -->

<!--end row 3 -->
            <div class="row justify-content-md-center">
               <div class="col-lg-6">
                   <div class="card">
                       <div class="card-body">
                           <h5 class="card-title mb-3">Season Progress</h5>
                           <div class="row">
                              <div class="col-md-12">
                                   <div class="mb-0">
                                       <img src="{% static 'season/siteimages/F1.png'%}" alt="" class="avatar-xs rounded-circle mr-1">
                                       <span><strong>Next: Russian GP - July 8th</strong></span>
                                   </div>
                                   <small class="float-right text-muted ml-3 font-size-14">6/18 races</small>
                                   <div class="progress mt-2 mb-4 bg-transparent" style="height:6px;">
                                       <div class="progress-bar bg-primary" role="progressbar" style="width: 33%; border-radius:5px;" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
                                   </div>
                                   <div class="mb-0">
                                       <img src="{% static 'season/siteimages/F2.png'%}" alt="" class="avatar-xs rounded-circle mr-1">
                                       <span><strong>Next: Russian GP - July 8th</strong></span>
                                   </div>
                                   <small class="float-right text-muted ml-3 font-size-14">6/14 races</small>
                                   <div class="progress mt-2 mb-4 bg-transparent" style="height:6px;">
                                       <div class="progress-bar bg-primary" role="progressbar" style="width: 60%; border-radius:5px;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                   </div>
                                   <div class="mb-0">
                                       <img src="{% static 'season/siteimages/F3.png'%}" alt="" class="avatar-xs rounded-circle mr-1">
                                       <span><strong>Next: Austrian GP - July 20th</strong></span>
                                   </div>
                                   <small class="float-right text-muted ml-3 font-size-14">6/14 races</small>
                                   <div class="progress mt-2 mb-4 bg-transparent" style="height:6px;">
                                       <div class="progress-bar bg-primary" role="progressbar" style="width: 45%; border-radius:5px;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                                   </div>
                                   <div class="mb-0">
                                       <img src="{% static 'season/siteimages/W.png'%}" alt="" class="avatar-xs rounded-circle mr-1">
                                       <span><strong>Next: Russian GP - July 8th</strong></span>
                                   </div>
                                   <small class="float-right text-muted ml-3 font-size-14">2/8 races</small>
                                   <div class="progress mt-2 bg-transparent" style="height:6px;">
                                       <div class="progress-bar bg-primary" role="progressbar" style="width: 30%; border-radius:5px;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                   </div>
                              </div>

                           </div>
                       </div>
                   </div>
               </div>
<!---- KNOB CHART ------------------------>
                <div class="col-xl-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="mt-0">Team Progress</h5>
                            <div class="row">
                                <div class="col-sm-6 align-self-center">
                                    <div class="live-tile text-center" data-mode="carousel" data-direction="vertical" data-delay="3500" data-height="10">
                                        <div class="mt-2">
                                            <h5 class="text-primary pt-2">F1 Score</h5>
                                            <small class="text-muted">After 2 of 10 races</small>
                                            <h3 class="text-dark mt-1">108 Points</h3>
                                        </div>
                                        <div class="mt-2">
                                            <h5 class="text-primary pt-2">F2 Score</h5>
                                            <small class="text-muted">After 2 of 10 races</small>
                                            <h3 class="text-dark mt-1">108 Points</h3>
                                        </div>
                                        <div class="mt-2">
                                            <h5 class="text-primary pt-2">F3 Score</h5>
                                            <small class="text-muted">After 2 of 10 races</small>
                                            <h4 class="text-dark mt-1">108 Points</h4>
                                        </div>
                                        <div class="mt-2">
                                            <h5 class="text-primary pt-2">W Series Score</h5>
                                            <small class="text-muted">After 2 of 10 races</small>
                                            <h4 class="text-dark mt-1">108 Points</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="text-center knob-Prosess mt-4 mt-sm-0" dir="ltr">
                                        <input class="knob animated" value="0" rel="25" data-width="120" data-height="120" data-linecap=round
                                        data-fgColor="#44a2d2"  data-skin="tron" data-angleOffset="180"
                                        data-readOnly=true data-thickness=".1"/>
                                        <h4 class="text-dark mt-1">League Position</h4>
                                        <!--
                                        <div class="text-center knob-prosess-btn">
                                            <a class="btn btn-sm  btn-primary text-white px-3 mt-2 mb-0">Refresh</a>
                                        </div>
                                        -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
<!---- KNOB CHART ------------------------>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-4 align-self-center">
                                            <div class="icon-info">
                                                <i class="mdi mdi-diamond text-warning"></i>
                                            </div>
                                        </div>
                                        <div class="col-8 align-self-center text-center">
                                            <div class="ml-2 text-right">
                                                <p class="mb-1 text-muted font-size-13">Projects</p>
                                                <h4 class="mt-0 mb-1 font-20">95%</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="progress mt-2" style="height:3px;">
                                        <div class="progress-bar progress-animated  bg-warning" role="progressbar" style="max-width: 95%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-4 align-self-center">
                                            <div class="icon-info">
                                                <i class="mdi mdi-account-multiple text-purple"></i>
                                            </div>
                                        </div>
                                        <div class="col-8 align-self-center text-center">
                                            <div class="ml-2 text-right">
                                                <p class="mb-1 text-muted font-size-13">Member</p>
                                                <h4 class="mt-0 mb-1 font-20">12</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="progress mt-2" style="height:3px;">
                                        <div class="progress-bar progress-animated  bg-purple" role="progressbar" style="max-width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-4 align-self-center">
                                            <div class="icon-info">
                                                <i class="mdi mdi-playlist-check text-success"></i>
                                            </div>
                                        </div>
                                        <div class="col-8 align-self-center text-center">
                                            <div class="ml-2 text-right">
                                                <p class="mb-0 text-muted font-size-13">Tasks</p>
                                                <span class="mt-0 font-20"><strong>40</strong></span>
                                                <span class="badge badge-soft-success mt-1 shadow-none">Active</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="progress mt-2" style="height:3px;">
                                        <div class="progress-bar progress-animated  bg-success" role="progressbar" style="max-width: 35%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-xl-6 ">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-4 col-4 align-self-center">
                                            <div class="icon-info">
                                                <i class="mdi mdi-coin text-pink"></i>
                                            </div>
                                        </div>
                                        <div class="col-sm-8 col-8 align-self-center text-center">
                                            <div class="ml-2 text-right">
                                                <p class="mb-1 text-muted font-size-13">Budget</p>
                                                <h4 class="mt-0 mb-1 font-20">$18090</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="progress mt-2" style="height:3px;">
                                        <div class="progress-bar progress-animated  bg-pink" role="progressbar" style="max-width: 35%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div><!--end row-->
        </div> <!-- container-fluid -->

<br /><br /><br /><br />
<!-- end main content-->
{% endblock %}
<!---- BODY CONTENT BLOCK --------->

<!---------------------- FOOTER BLOCK  ------------------->
{% block footer %}
{% endblock %}
<!---------------------- FOOTER BLOCK  ------------------->

<!---------------------- JAVASCRIPT BLOCK  ------------------->
{% block javascript %}

   <!--Morris Chart-->
   <script src="{% static 'season/assets/libs/morris.js/morris.min.js' %}"></script>
   <script src="{% static 'season/assets/libs/raphael/raphael.min.js' %}"></script>
   <script src="{% static 'season/assets/libs/jquery-knob/jquery.knob.min.js' %}"></script>
   <script src="{% static 'season/assets/libs/metrojs/release/MetroJs.Full/MetroJs.min.js' %}"></script>
<script>
   //  Morris Area chart
   $( function () {
       "use strict";
/*
       Morris.Area( {
           element: 'extra-area-chart', data: [
               {y: '2018-02', a: 0, b: 0, c:0},
               {y: '2018-03', a: 150, b: 45, c:15},
               {y: '2018-04', a: 60, b: 150, c:195},
               {y: '2018-05', a: 180, b: 36, c:21},
               {y: '2018-06', a: 90, b: 60, c:360},
               {y: '2018-07', a: 75, b: 240, c:120},
               {y: '2018-08', a: 30, b: 30, c:30}
           ],
           lineColors: [ '#009688', '#fdb93e', '#148cca'],
           xkey: 'y',
           ykeys: [ 'a', 'b', 'c'],
           labels: [ 'a', 'b', 'c'],
           pointSize: 0, lineWidth: 0,
           resize: true,
           fillOpacity: 0.8,
           behaveLikeLine: true,
           gridLineColor: 'rgba(108, 120, 151, 0.2)',
           hideHover: 'auto'
       }
    );
 */
          Morris.Area( {
             element: 'extra-area-chart', data: [
                  {y: 'BAH', a: 10  , b: 0},
                  {y: 'EMI', a: 0   , b: 0},
                  {y: 'POR', a: 25  , b: 0},
                  {y: 'SPA', a: 20  , b: 0},
                  {y: 'MON', a: 18  , b: 10},
                  {y: 'AZE', a: 25  , b: 0},
                  {y: 'CAN', a: 6   , b: 0},
                  {y: 'FRE', a: 20  , b: 0},
                  {y: 'AUS', a: 20  , b: 0},
                  {y: 'BRI', a: 20  , b: 0},
                  {y: 'HUN', a: 20  , b: 0},
                  {y: 'BEL', a: 20  , b: 0},
                  {y: 'DUT', a: 20  , b: 0},
                  {y: 'ITA', a: 20  , b: 0},
                  {y: 'RUS', a: 20  , b: 0},
                  {y: 'SIN', a: 20  , b: 0},
                  {y: 'JAP', a: 20  , b: 0},
                  {y: 'USA', a: 20  , b: 0},
                  {y: 'MEX', a: 20  , b: 0},
                  {y: 'BRA', a: 20  , b: 0},
                  {y: 'AUS', a: 20  , b: 0},
                  {y: 'SAU', a: 20  , b: 0},
                  {y: 'ABU', a: 20  , b: 0}
             ],
             lineColors: [ '#009688', '#fdb93e', '#148cca'],
             xkey: 'y',
             ykeys: [ 'a', 'b', 'c'],
             ymax: 25,
             parseTime: false,                          //Stops the date formatting
             labels: [ 'Hamilton', 'Vettel', 'Norris'],
             pointSize: 0, lineWidth: 0,
             resize: true,
             fillOpacity: 0.8,
             behaveLikeLine: true,
             gridLineColor: 'rgba(108, 120, 151, 0.2)',
             hideHover: 'auto'
         }
         );
    // Knob Chart
       $(".knob").knob({
           'format' : function (value) {
              return value + '%';
           }
         });

         $('.knob').each(function () {

           var $this = $(this);
           var myVal = $this.attr("rel");
           $this.knob();

           $({
               value: 0
           }).animate({
               value: myVal
           }, {
               duration: 2000,
               easing: 'swing',
               step: function () {
                   $this.val(Math.ceil(this.value)).trigger('change');

               },
           })
       });

   // Metro
       $(".live-tile, .flip-list").not(".exclude").liveTile();

   });
</script>


{% endblock %}
<!---------------------- JAVASCRIPT BLOCK  ------------------->
