{% extends "base.html" %}
{% load static %}

<!---- TITLE --------->
{% block title%}Build Leagues{% endblock %}
{% block breadcrumb%}Build Leagues{% endblock %}

<!---- STYLE --------->
{% block css %}
<style>
</style>
{% endblock %}

<!---- BODY CONTENT --------->
{% block content %}
<br /><br /><br /><br /><br />
<div class="row">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-sm-10 offset-1">

             <h3>Driver Tables rebuilt..</h3><br />

             <p>{{message}}</p><br />

             <h3>Team Tables rebuilt..</h3><br />

             <p>{{message_2}}</p>

             <p>{{message_3}}</p>

          </div>
        </div>
      </div>
 </div>
<br /><br /><br /><br /><br />
{% endblock %}
<!---- BODY CONTENT BLOCK --------->

<!---------------------- FOOTER BLOCK  ------------------->
{% block footer %}
{% endblock %}
<!---------------------- FOOTER BLOCK  ------------------->

<!---------------------- JAVASCRIPT BLOCK  ------------------->
{% block javascript %}
{% endblock %}
<!---------------------- JAVASCRIPT BLOCK  ------------------->
