{% extends 'base.html' %}
{% load static %}

{% block title      %} Scoring {% endblock %}
{% block breadcrumb %} Scoring {% endblock %}
{% block css %}

<style>
   td{
      text-align: center;
   }
   table td:nth-child(3)
   {
      text-align: left;
   }
   /* Hide first column (with driverID)*/
   table th:nth-child(1)
   {
      display:none;
   }
   table td:nth-child(1)
   {
      display:none;
   }
</style>
{% endblock %}

{% block content %}
<hr />
<br />
<div class="row justify-content-center">
   <div class="col-auto ml-20">

      <h1> Score a New Event </h1>

      <div class="col">  </div>
      <div class="col-8 center">
         <form action="{% url 'scoreevents' %}"  method="GET">
            <label for="scoringevent">Choose a scoring event:</label>
            <select id="scoringevent" name="scoringevent">
               {% for event in scoringevents %}
               <option value="{{event.id}}">{{event.id}} - {{event.startDateTime}} - {{event.name}}</option>
               {% endfor %}
            </select>
            <br /><br /><br />
            <center><input type="submit" name="submit" value="SELECT"></center>
         </form>
      </div>
      <div class="col"> </div>

      <div>
         {% if EventName %}
         <hr />
         <h3> Scores Confirmed : {{ EventName }} </h3><br />
         <p class="text-center"> Time Taken : {{ time_taken }} seconds ~ ~ {{ crecords }} Competitor score records created ~ ~ {{ trecords }} Team score records created</p>

         <table class="table table-responsive">
            <tr><th></th><th colspan = 4><th colspan = 5>Lead Driver Points--></th><th colspan = 5>2nd Driver Points--></th></tr>
            <tr><th>ID</th><th>Position</th><th>Driver</th><th>+/- places</th><th>laps off leader</th>
               <th>Position</th><th>Fastest Lap</th><th>Disqualified</th><th>+/- Places</th><th>Laps Lost</th>
               <th>Position</th><th>Fastest Lap</th><th>Disqualified</th><th>+/- Places</th><th>Laps Lost</th></tr>
               {% for array in resultsArray %}
            <tr>
               {% for content in array %}
               <td> {% if content == 0 %} <center>-</center> {% else %} {{content}} {% endif %} </td>
               {% endfor %}
            <tr />
               {% endfor %}
         </table>

         {% endif %}

      </div>
   </div>
</div>

{% endblock %}
