{% extends 'base.html' %}
{% load static %}

<!--- TITLE -------->
{% block title      %} Event Results {% endblock %}
{% block breadcrumb %} Event Results {% endblock %}

{% block css%}
<style>
   td{
      text-align: center;
      vertical-align: middle !important;
   }
   th:nth-child(2){
      text-align: center;
   }
   tr:first-child, tr:nth-child(2)
   {
     position:sticky;
     left:0px;
     background-color:#222;
   }
   th:first-child, th:nth-child(2), td:first-child, td:nth-child(2)
   {
     position:sticky;
     left:0px;
     background-color:#222;
   }
   td:nth-child(2)
   {
      min-width: 200px;
   }
   /********************************************/
   /********** RESPONSIVE ELEMENTS *************/
   /********************************************/
   /*-- MOBILE ----*/
      td{ height: 35px; }
   /*-- TABLET ----*/
   @media (min-width: 768px) {
      td{ height: 40px; }
   }
   /*-- DESKTOP --->*/
   @media (min-width: 1024px) {
      td{ height: 45px; }
   {
</style>

{% endblock %}

<!--------------------------------------------------------------->
{% block content %}

<div style = "padding: 2% 5% 2% 5%;">
   <h1> {{scoringevent.name}} </h1>
   <h3>{{scoringevent.startDateTime}}</h3>
   <div class="text-right"><input type="button" onclick="history.go(-1);" value="Back"></div>
   <br />
   <div class = "card m-3">
      <table class="table table-sm table-hover table-responsive-md">
         <tr class="text-uppercase font-weight-bold h5 ">
            <th class = "pt-2 pb-2 pl-2">Position</th>
            <th class = "pt-2 pb-2">Driver</th>
            <th class = "pt-2 pb-2" colspan = 2>Result--></th>
            <th class = "pt-2 pb-2" colspan = 5>Lead Driver Points--></th>
            <th class = "pt-2 pb-2" colspan = 5>2nd Driver Points--></th>
         </tr>
         <tr><th></th><th></th><th>+/- places</th><th>Laps Behind</th>
            <th>Position</th><th>Fastest Lap</th><th>Disqualified</th><th>+/- Places</th><th>Laps Lost</th>
            <th>Position</th><th>Fastest Lap</th><th>Disqualified</th><th>+/- Places</th><th>Laps Lost</th></tr>
            {% for array in newarray %}
               <tr>
                  {% for item in array %}
                     <td> {% if item == 0 %} <center>-</center> {% else %} {{item}} {% endif %} </td>
                  {% endfor %}
               <tr />
            {% endfor %}
      </table>
   </div>
</div>

{% endblock %}
