{% extends 'base.html' %}
{% load static %}

<!--- TITLE -------->
{% block title %}
Results
{% endblock %}

{% block css%}
<style>
   p, td{
      font-size:1.0rem;
   }
   td{
      text-align: center;
   }
   table td:nth-child(3)
   {
      text-align: left;
   }
   tr:first-child, tr:nth-child(2)
   {
     position:sticky;
     left:0px;
     background-color:#222;
   }
   th:first-child, th:nth-child(2), td:first-child, td:nth-child(2)
   {
     position:sticky;
     left:0px;
     background-color:#222;
   }
   td:nth-child(2)
   {
      min-width: 200px;
   }
</style>

{% endblock %}

<!--------------------------------------------------------------->
{% block content %}

<div style = "padding: 2% 5% 2% 5%;">
   <h1> {{scoringevent.name}} </h1>
   <h3>{{scoringevent.startDateTime}}</h3>
   <div class="text-right"><input type="button" onclick="history.go(-1);" value="Back"></div>
   <br />

         <table class="table table-responsive table-bordered">
            <tr>
               <th>Position</th>
               <th>Driver</th>
               <th colspan = 2>Result</th>
               <th colspan = 5>Lead Driver Points- -></th>
               <th colspan = 5>2nd Driver Points- -></th>
            </tr>
            <tr><th></th><th></th><th>+/- places</th><th>Laps Behind</th>
               <th>Position</th><th>Fastest Lap</th><th>Disqualified</th><th>+/- Places</th><th>Laps Lost</th>
               <th>Position</th><th>Fastest Lap</th><th>Disqualified</th><th>+/- Places</th><th>Laps Lost</th></tr>
               {% for array in newarray %}
                  <tr>
                     {% for item in array %}
                        <td> {% if item == 0 %} <center>-</center> {% else %} {{item}} {% endif %} </td>
                     {% endfor %}
                  <tr />
               {% endfor %}
         </table>


</div>

{% endblock %}
