{% extends 'base.html' %}
{% load static %}

<!--- TITLE -------->
{% block title %}
Events
{% endblock %}

{% block css%}
<style>
   td{
      padding-top:10px;
      padding-left:20px;
   }
   .bigtable td, .bigtable th{
      border: 1px solid black;
      border-collapse: collapse;
      width: 100%
      max-width: 15%;
      min-width: 15%;
      padding: 5px;
   }
   p, td{
      font-size:1.2rem;
   }
</style>
<link href="{% static '/academy/css/datetimepicker.css' %}" rel="stylesheet">
{% endblock %}

<!--------------------------------------------------------------->
{% block content %}

<div style = "padding: 2% 0px 2% 15%;">
   <h1 style = "padding: 1% 0% 0% 0%;"> 2020 Events </h1>
   <br />
   <div>
         <table class="bigtable">
            <tr>
               <th> Name </th>
               <th> Date / time </th>
               <th> circuit </th>
               <th> country </th>
               <th> formulas </th>
            </tr>
            {% for event in allevents%}
            <tr>
               <td class="name"> {{event.name}} </td>
               <td> {{event.date}} </td>
               <td> {{event.circuit}} </td>
               <td> {{event.country}} </td>
               <td> {{event.formulas}} </td>
            </tr>
            {% endfor %}
         </table>
      </div>
     <br />
     <center><input type="button" onclick="alert('Hello World!')" value="Click Me!"></center>
     <br />
  </div>
</div>

{% endblock %}
