{% extends 'base.html' %}
{% load blog_tags %}
{% block title %}
Drivers
{% endblock%}

{% block breadcrumb %}
Drivers
{% endblock%}

{% block css %}
<style>
   a{color:white}
   a:hover{color:gray}
   .bg-dark b{
      color:black;
   }
   .bg-dark {
      background-color:black;
   }
</style>
{% endblock %}


{% block content %}

<div class="col-md-9 ml-sm-auto col-lg-12 px-md-4 tabs-menu">
    <ul class="nav nav-pills">

        <li class="nav-item">
            <a href="/season/tables/1" class="nav-link active" >Formula 1</a>
        </li>
        <li class="nav-item">
            <a href="/season/tables/2" class="nav-link" >Formula 2</a>
        </li>
        <li class="nav-item">
            <a href="/season/tables/3" class="nav-link" >Formula 3</a>
        </li>
        <li class="nav-item">
            <a href="/season/tables/W" class="nav-link" >W Series</a>
        </li>
    </ul>
    <hr/>
    <br/>
</div>

 <div class="tab-content">
    <div class="tab-pane fade show active" id="academy">

      <div class="container-fluid" style = "padding: 0% 5% 2% 5%">
       <div class="row">
         <main role="main" class="col-md-9 ml-sm-auto col-lg-12 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
               <h1 class="h2">Competitors - {{ formulaname }} </h1>
               <div class="btn-toolbar mb-2 mb-md-0">
                  <div class="btn-group mr-2">
                     <a class="btn btn-sm btn-outline-secondary" data-toggle="collapse" href="#PersonalData" role="button" aria-expanded="false" aria-controls="PersonalData">Driver Details</a>
                     <button class="btn btn-sm btn-outline-secondary" type="button" data-toggle="collapse" data-target="#PersonalChart" aria-expanded="false" aria-controls="PersonalChart">Season's Progress</button>
                  </div>
               </div>
            </div>

            <!-- THIS IS THE GRAPH -->
            <div class="container collapse multi-collapse" id = "PersonalChart">
               <canvas class="my-4 w-100" id="myChart" width="900" height="380">

               </canvas>
            </div>
            <!--  Top Driver details area ----------------------->

            {% for person in personality %}
            <div class="container collapse multi-collapse {{showPersonal}}" id = "PersonalData">
               <div class="row">
                  <div class="col-sm-4">
                     <div class="card" style="">
                        <img class="card-img-top text-center pt-4" src="{{person.mugshot.url}}" alt="Card image cap" style="margin:auto; width:250px;">
                        <div class="card-body">
                           <h5 class="card-title text-center">{{ person.firstname }} {{ person.surname }}</h5>

                        </div>
                     </div>
                  </div>
                  <div class="table-responsive col-sm-8">
                     <table class="table table-sm">
                        <tbody>

                           <tr>
                              <td colspan = 2 class="bg-dark" ><b>Career</b></td>
                           </tr>
                           <tr>
                              <td>&nbsp;&nbsp;&nbsp;Wins</td>
                              <td class = "text-right pr-5">{{ person.winsPreviousSeasons }}</td>
                           </tr>
                           <tr>
                              <td>&nbsp;&nbsp;&nbsp;Poles</td>
                              <td class = "text-right pr-5">{{ person.pointsPreviousSeasons }}</td>
                           </tr>
                           <tr>
                              <td>&nbsp;&nbsp;&nbsp;Championships</td>
                              <td class = "text-right pr-5">{{ person.championships }}</td>
                           </tr>
                           <tr>
                              <td colspan = 2 class="bg-dark"><b>This Season</b></td>
                           </tr>
                           <tr>
                              <td>&nbsp;&nbsp;&nbsp;Position Points</td>
                              <td class = "text-right pr-5">{{ person.points_pos }}</td>
                           </tr>
                           <tr>
                              <td>&nbsp;&nbsp;&nbsp;Fastets Lap Points</td>
                              <td class = "text-right pr-5">{{ person.points_fl }}</td>
                           </tr>
                           <tr>
                              <td>&nbsp;&nbsp;&nbsp;Positions Gained / Lost Points</td>
                              <td class = "text-right pr-5">{{ person.points_pgl }}</td>
                           </tr>
                           <tr>
                              <td>&nbsp;&nbsp;&nbsp;Laps Behind Leader Points</td>
                              <td class = "text-right pr-5">{{ person.points_lbl }}</td>
                           </tr>
                           <tr>
                              <td>&nbsp;&nbsp;&nbsp;Disqualification Points</td>
                              <td class = "text-right pr-5"><u>{{ person.points_dsq }}</u></td>
                           </tr>
                           <tr>
                              <td class="font-weight-bold text-uppercase">&nbsp;&nbsp;&nbsp;Total Points</td>
                              <td class="font-weight-bold text-uppercase text-right pr-5">{{ person.points_total }}</td>
                           </tr>
                           <tr>
                              <td colspan = 2 class="bg-dark"><b>Personal</b></td>
                           </tr>
                           <tr>
                              <td>&nbsp;&nbsp;&nbsp;Nationality</td>
                              <td>{{ person.nationality }}</td>
                           </tr>
                           <tr>
                              <td>&nbsp;&nbsp;&nbsp;Web Site</td>
                              <td>{{ person.webLink }}</td>
                           </tr>
                           <tr>
                              <td>&nbsp;&nbsp;&nbsp;Instagram</td>
                              <td>{{ person.instaHandle }}</td>
                           </tr>
                           <tr>
                              <td>&nbsp;&nbsp;&nbsp;Twitter</td>
                              <td>{{ person.twitterHandle }}</td>
                           </tr>
                           <tr>
                              <td colspan="2"><br />{{ person.short_bio|markdown }}</td>
                           </tr>

                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
            {%endfor%}



            <!-- --- TABLES ------------>

            <h2>Drivers</h2>
            <div class="table-responsive">
               <table class="table table-hover table-sm table-responsive-sm">
                  <thead>
                     <tr class = "font-weight-bold text-uppercase">
                        <th>Driver</th>
                        <th> </th>
                        <th>Team</th>
                        <th class = "text-right">Value</th>
                        <th class = "text-right">Total Points</th>
                        <th class = "text-right">Position<br />Points</th>
                        <th class = "text-right">Fastest Lap<br />Points</th>
                        <th class = "text-right">Places +/- <br />Points</th>
                        <th class = "text-right">LapsBehind <br />Points</th>
                        <th class = "text-right">Disqualify <br />Points</th>

                     </tr>
                  </thead>
                  <tbody>
                     {% for driver in competitors.all %}
                        <tr class='clickable-row' onclick="window.location='/season/tables/{{formula}}?per={{driver.surname}}'">
                        <td><img class = "image-fluid " src="{{driver.mugshot.url}}"  height=50px /></td>
                        <td> <b> {{driver.surname}}, {{driver.firstname}} </b> </td>
                        <td> {{driver.team}}</td>
                        <td class = "text-right"> ${{driver.value}}m</td>
                        <td class = "text-right"> {{driver.points_total}}</td>
                        <td class = "text-right"> {{driver.points_pos}}</td>
                        <td class = "text-right"> {{driver.points_fl}}</td>
                        <td class = "text-right"> {{driver.points_pgl}}</td>
                        <td class = "text-right"> {{driver.points_lbl}}</td>
                        <td class = "text-right"> {{driver.points_dsq}}</td>
                     </tr>
                     {% endfor%}
                  </tbody>
               </table>
            </div>
         </div>
   </div>
</div>
<br /><br /><br />
{% endblock %}


{% block javascript %}
   <script>
      /* globals Chart:false, feather:false */

      (function () {
        'use strict'

        feather.replace()

        // Graphs
        var ctx = document.getElementById('myChart')
        // eslint-disable-next-line no-unused-vars
        var myChart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: [
              'Abu Dhabi',
              'Argentina',
              'Mexico',
              'USA',
              'Austria',
              'British',
              'Dutch'
            ],
            datasets: [{
              data: [
                25,
                20,
                0,
                4,
                10,
                6,
                15
              ],
              lineTension: 0,
              backgroundColor: 'transparent',
              borderColor: '#007bff',
              borderWidth: 4,
              pointBackgroundColor: '#007bff'
            }]
          },
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: false
                }
              }]
            },
            legend: {
              display: false
            }
          }
        })
      })()

   </script>
{% endblock %}
