{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}
{% block title %}
Drivers
{% endblock%}

{% block breadcrumb %}
Drivers
{% endblock%}

{% block css %}
<style>
   a{color:white}
   a:hover{color:gray}
   .bg-dark b{
      color:black;
   }
   .bg-dark {
      background-color:black;
   }
</style>
{% endblock %}


{% block content %}

<div class="col-12 ml-sm-auto  px-md-4 tabs-menu">
    <ul class="nav nav-pills">

        <li class="nav-item">
            <a href="/season/tables/1" class="nav-link active mr-2" >Formula 1</a>
        </li>
        <li class="nav-item">
            <a href="/season/tables/2" class="nav-link active mr-2" >Formula 2</a>
        </li>
        <li class="nav-item">
            <a href="/season/tables/3" class="nav-link active mr-2" >Formula 3</a>
        </li>
        <li class="nav-item">
            <a href="/season/tables/W" class="nav-link active mr-2" >W Series</a>
        </li>
    </ul>
    <hr/>
    <br/>
</div>

 <div class="tab-content">
    <div class="tab-pane fade show active" id="academy">

      <div class="container-fluid" style = "padding: 0% 5% 2% 5%">
       <div class="row">
         <main role="main" class="col-12 ml-sm-auto  px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
               <h1 class="h2">Competitors - {{ formulaname }} </h1>
               <div class="btn-toolbar mb-2 mb-md-0">
                  {% if showPersonal == "show" %}
                  <div class="btn-group mr-2">
                     <a class="btn btn-sm btn-outline-secondary" data-toggle="collapse" href="#PersonalData" role="button" aria-expanded="false" aria-controls="PersonalData">Hide Driver Details</a>
                     <button class="btn btn-sm btn-outline-secondary" type="button" data-toggle="collapse" data-target="#PersonalChart" aria-expanded="false" aria-controls="PersonalChart">Hide Season's Progress</button>
                  </div>
                  {% endif %}
               </div>
            </div>

            <!---Graph ------------------------------------>
            <div class="container-fluid collapse multi-collapse {{showPersonal}}" id = "PersonalChart">
               <div class="row justify-content-md-center">
                   <div class="col-sm-12">
                       <div class="card">
                           <div class="card-body">
                               <h5 class="card-title mb-3">Season Results So Far - {{ person.firstname }} {{ person.surname }}</h5>

                               <!--Top RHS legends -->
                               <div class="row justify-content-end">
                                   <div class="col-xl-12 align-self-center">
                                       <ul class="list-unstyled list-inline float-right" id="tour1">
                                           <li class="list-inline-item px-3">
                                               <h5 class="mt-0">Season Points Total: </h5>
                                               <h5 class="mt-0 text-right">{{person.points_total |floatformat:0 }}</h5>

                                           </li>
                                       </ul>
                                   </div>
                               </div>

                               <!-- THE ACTUAL GRAPH -->
                               <div id="extra-area-chart" class="morris-charts project-budget-chart" style="height: 322px;" dir="ltr" ></div>

                           </div>
                       </div>
                   </div>
               </div>
            </div>
            <!--  Top Driver details area ----------------------->
            <div class="container collapse multi-collapse {{showPersonal}}" id = "PersonalData"> <!-- "showPersonal" makes graphs visible if driver chosen -->
               <div class="row">
                  <div class="col-sm-4">
                     <div class="card" style="">
                        <img class="card-img-top text-center pt-4" src="{{person.mugshot.url}}" alt="Card image cap" style="margin:auto; width:80%;">
                        <div class="card-body">
                           <h5 class="card-title text-center">{{ person.firstname }} {{ person.surname }}</h5>
                        </div>
                     </div>
                  </div>
                  <div class="table-responsive col-sm-8">
                     <table class="table table-sm">
                        <tbody>
                           <tr>
                              <td colspan = 2 class="bg-dark"><b>This Season</b></td>
                           </tr>
                           <tr>
                              <td>&nbsp;&nbsp;&nbsp;Position Points</td>
                              <td class = "text-right pr-5">{{ person.points_pos |floatformat }}</td>
                           </tr>
                           <tr>
                              <td>&nbsp;&nbsp;&nbsp;Fastest Lap Points</td>
                              <td class = "text-right pr-5">{{ person.points_fl |floatformat  }}</td>
                           </tr>
                           <tr>
                              <td>&nbsp;&nbsp;&nbsp;Positions Gained / Lost Points</td>
                              <td class = "text-right pr-5">{{ person.points_pgl  |floatformat }}</td>
                           </tr>
                           <tr>
                              <td>&nbsp;&nbsp;&nbsp;Laps Behind Leader Points</td>
                              <td class = "text-right pr-5">{{ person.points_lbl  |floatformat }}</td>
                           </tr>
                           <tr>
                              <td>&nbsp;&nbsp;&nbsp;Disqualification Points</td>
                              <td class = "text-right pr-5"><u>{{ person.points_dsq  |floatformat }}</u></td>
                           </tr>
                           <tr>
                              <td class="font-weight-bold text-uppercase">&nbsp;&nbsp;&nbsp;Total Points</td>
                              <td class="font-weight-bold text-uppercase text-right pr-5">{{ person.points_total  |floatformat }}</td>
                           </tr>
                           <tr>
                              <td colspan = 2 class="bg-dark"><b>Personal</b></td>
                           </tr>
                           <tr>
                              <td>&nbsp;&nbsp;&nbsp;Nationality</td>
                              <td>{{ person.nationality }}</td>
                           </tr>
                           <tr>
                              <td>&nbsp;&nbsp;&nbsp;Web Site</td>
                              <td>{{ person.webLink }}</td>
                           </tr>
                           <tr>
                              <td>&nbsp;&nbsp;&nbsp;Instagram</td>
                              <td>{{ person.instaHandle }}</td>
                           </tr>
                           <tr>
                              <td>&nbsp;&nbsp;&nbsp;Twitter</td>
                              <td>{{ person.twitterHandle }}</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>

            <!-- --- TABLES ------------>

            <h2>Drivers</h2>
            <span class = "text-right"> <i>(Click on a driver to see his details and results)</i></span>
            <div class="table-responsive">
               <table class="table table-hover table-sm table-responsive-sm">
                  <thead>
                     <tr class = "font-weight-bold text-uppercase">
                        <th>Driver</th>
                        <th> </th>
                        <th>Team</th>
                        <th class = "text-right">Value</th>
                        <th class = "text-right">Total Points</th>
                        <th class = "text-right">Position<br />Points</th>
                        <th class = "text-right">Fastest Lap<br />Points</th>
                        <th class = "text-right">Places +/- <br />Points</th>
                        <th class = "text-right">LapsBehind <br />Points</th>
                        <th class = "text-right">Disqualify <br />Points</th>

                     </tr>
                  </thead>
                  <tbody>
                     {% for driver in competitors.all %}
                        <tr class='clickable-row' onclick="window.location='/season/tables/{{formula}}?per={{driver.id}}'">
                        <td><img class = "image-fluid rounded-circle" src="{{driver.mugshot.url}}"  height=50px /></td>
                        <td> <b> {{driver.surname}}, {{driver.firstname}} </b> </td>
                        <td> {{driver.team}}</td>
                        <td class = "text-right"> ${{driver.value}}m</td>
                        <td class = "text-right"> {{driver.points_total |floatformat:0 }}</td>
                        <td class = "text-right"> {{driver.points_pos   |floatformat:0 }}</td>
                        <td class = "text-right"> {{driver.points_fl    |floatformat:0 }}</td>
                        <td class = "text-right"> {{driver.points_pgl   |floatformat:0 }}</td>
                        <td class = "text-right"> {{driver.points_lbl   |floatformat:0 }}</td>
                        <td class = "text-right"> {{driver.points_dsq   |floatformat:0 }}</td>
                     </tr>
                     {% endfor%}
                  </tbody>
               </table>
            </div>
         </div>
   </div>
</div>
<br /><br /><br />
{% endblock %}

{% block javascript %}

   //Collapse LHS menu bar to show more screen
   if($(window).width() > 992) {
     $("#vertical-menu-btn").click();
   }

   Morris.Area( {
      element: 'extra-area-chart', data:
      [
      {% for w in weekend_posns %}
         {y: '{{w.0}}  ' , a: {{w.2}} , b: {{w.1}} },
      {% endfor %}
      ],                                         //   [{y: 'BAH', a: 10},{y: 'EMI', a: 15},{y: 'POR', a: 25},{y: 'SPA', a: 20}],
      lineColors: [ '#009688','#fdb93e' ] ,       // , '#148cca'],
      xkey: 'y',
      ykeys: [ 'a', 'b'],                        //, 'c'],
      //ymax:50,
      //ymin:-20,
      parseTime: false,                          //Stops the date formatting
      labels: [ 'Best Score', '{{ person.firstname }} {{ person.surname }}' ],
      pointSize: 0, lineWidth: 0,
      resize: true,
      fillOpacity: 0.8,
      behaveLikeLine: true,
      gridLineColor: 'rgba(108, 120, 151, 0.6)',
      hideHover: 'auto'
}
);

{% endblock %}

<!---------------------- JAVASCRIPT LIBRARIES BLOCK  ------------------->

{% block pagescripts %}
<!--Morris Chart-->
<script src="{% static 'season/assets/libs/morris.js/morris.min.js' %}"></script>
<script src="{% static 'season/assets/libs/raphael/raphael.min.js' %}"></script>
{% endblock %}
