{% load static %}
<!---------------------- CSS BLOCK  ------------------->
<link href="{% static '/static/academy/css/bootstrap-dark.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static '/static/academy/css/icons.css' %}"          rel="stylesheet" type="text/css" />
<!---------------------- CSS BLOCK  ------------------->

<div class="card">
   <div class="card-body">
       <span class="float-right text-muted font-size-13">After {{events_in}}/{{events_all}} Scoring Events</span>
       <h5 class="card-title mb-3">Points by Formula</h5>
       <div id="donut-example" class="morris-charts workloed-chart" style="height: 273px;" dir="ltr"></div>
       <ul class="list-unstyled text-center text-muted mb-0">
           <li class="list-inline-item font-size-13"><i class="mdi mdi-album font-size-16 text-warning mr-2"></i>F1</li>
           <li class="list-inline-item font-size-13"><i class="mdi mdi-album font-size-16 text-pink mr-2"></i>F2</li>
           <li class="list-inline-item font-size-13"><i class="mdi mdi-album font-size-16 text-success mr-2"></i>F3</li>
           <li class="list-inline-item font-size-13"><i class="mdi mdi-album font-size-16 text-primary mr-2"></i>WS</li>
       </ul>
   </div>
</div>

<!-- JAVASCRIPT-->
<script src="{% static '/academy/libs/jquery/jquery.min.js'   %}"></script>

<!--Morris Chart-->
<script src="{% static 'season/assets/libs/morris.js/morris.min.js' %}"></script>
<script src="{% static 'season/assets/libs/raphael/raphael.min.js' %}"></script>

<script>
   //  Morris Area chart
   $( function () {

   // Morris Dounut
       Morris.Donut({
           element: 'donut-example',
           data: [
             {label: "F3", value: {{scores.2}} },
             {label: "F2", value: {{scores.1}} },
             {label: "F1", value: {{scores.0}} },
             {label: "WS", value: {{scores.3}} }
           ],
           resize: true,
           colors:[ '#0ACF97', '#FF679B', '#F9BC09', '#44A2D2'],
           labelColor: '#DA6020',
           backgroundColor: 'transparent',
           fillOpacity: 0.1,
           formatter: function (x) { return x + " points"}
       });
   });
</script>
