{% load static %}
{% load humanize %}

<div class="card profile">
   <div class="card-body">
      <div class="text-center">
         <img src="{{myTeam.teamLogo.url}}" alt="" class="rounded-circle img-fluid avatar" style="width:65%; max-width:300px;">

         <h4 class="mt-3">{{myTeam.teamName}}</h4>
         <center>
            <div style="width: 90%">
               <div class="row justify-content-md-center">
                  <div class = "col-4 align-middle">
                     <p class="font-12 pt-2">Manager: <br />
                        {{user.first_name}} {{user.last_name}}</p>
                  </div>
                  <div class="col-4 align-top" >
                     <img src="{{myProfile.photo.url}}" alt="" class="rounded-circle img-thumbnail avatar" style="width:70px; height:70px;">
                  </div>
                  <div class="col-4 align-top">
                     <p style = "font-size: 2rem;" >{{ percentile |  floatformat:0 | ordinal }}</p>
                     <p style = "font-size: 0.6rem; margin-top:-16px;">percentile <br /> ({{myTeam.league_position | ordinal }} of {{league_total_teams.value}})</p>
                  </div>
               </div>

               <a href="#" class="btn btn-pink btn-rounded px-5">Up and Coming</a>
            </div>
         </center>
      </div>
   </div>

</div>
