{% extends "base.html" %}

<!---- TITLE --------->
{% block title      %}Team Name{% endblock %}
{% block breadcrumb %}Team Name{% endblock %}

<!---- STYLE --------->
{% block css %}
<style>
   td, th, input{
      padding :0% 3% 2% 2%;
      vertical-align: top;
   }
   .errorlist{
      color: red;
      font-size: 1.2rem;
   }
</style>
{% endblock %}

<!---- BODY CONTENT --------->
{% block content %}

<div class="container card">
   <h2 class="p-3"> Set up your First Team:</h2>
   <div class = "row justify-content-md-center col-12 m-2">
      <div class = "col-lg-5 pt-3" >
         <dl>
           <dt >
              <img src="{{ user.team.teamLogo.url }}" style = "max-height: 150px; max-width:240px;" class=" rounded-circle d-inline-block align-center" alt="" loading="lazy" >
           </dt>
           <dd style = "padding: 6% 0% 0% 3%;">
              <h2>{{user.team.teamName}}</h2>
              <h4>{{user.first_name}} {{user.last_name}}</h4>
           </dd>
         </dl>
      </div>

      <div class = "col-lg-5 pt-1">
         <br /><br /><br />
            <form method="post" enctype="multipart/form-data">
              <table>
                 {{ team_form.as_table }}
              </table>
              <br />
              <center>
                 <input type="submit" class="btn btn-primary" value="Save Changes">
              </center>
              {% csrf_token %}
           </form>
      </div>
   </div>
   <br /><p class ="text-center text-warning">**Pick an image of around <a href = "https://www.img2go.com/resize-image" target = "_blank">300x300 pixels</a> in png or jpg format</p>
</div>

{% endblock %}
