{% extends "base.html" %}

<!---- TITLE --------->
{% block title%}
Team Name
{% endblock %}

<!---- STYLE --------->
{% block css %}
<style>
   td, th, input{
      padding :0% 3% 2% 2%;
      vertical-align: top;
   }

</style>
{% endblock %}

<!---- BODY CONTENT --------->
{% block content %}
<div style = "padding: 10% 0px 15% 15%;">
   <dl class="row">
     <dt >
        <img src="{{ user.team.teamLogo.url }}" height="150" class="d-inline-block align-center" alt="" loading="lazy" >
     </dt>
     <dd style = "padding: 3% 0% 0% 3%;">
        <h1>{{user.team.teamName}}</h1>
        <h3>{{user.first_name}} {{user.last_name}}</h3>
     </dd>
   </dl>
   <br />
   <br />
    <form method="post" enctype="multipart/form-data">
        <table>
            {{ team_form.as_table }}
        </table>
        <br />
        <p style = "padding: 2% 0px 0% 10%;">
            <input type="submit" class="btn btn-primary" value="Save Changes">
        </p>
        {% csrf_token %}
    </form>

</div>
{% endblock %}
