{% extends "base.html" %}
{% load static %}

<!---- TITLE --------->
{% block title.     %}Team Scores {% endblock %}
{% block breadcrumb %}Team Scores{% endblock %}

<!---- STYLE --------->
{% block css %}
<link href="{% static '/season/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
</style>
{% endblock %}

<!---- BODY CONTENT --------->
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12  col-sm-12">

       <img src = "{{teamdata.teamLogo.url}} " height= "200" >
       <h1>{{teamdata.teamName}} Scores</h1>
       <br /><br />
         <div class="table-responsive">
             <table id="datatable" class="table table-bordered">
                 <thead>
                 <tr>
                    <th> Event </th><th></th>
                    <th> Driver </th>
                    <th> Team Position </th>
                    <th> Event Type</th>
                    <th class="text-right"> Points </th>
                 </tr>
                 </thead>

                 <tbody>
                    {% for team in score_data %}
                     <tr>
                        <td > {{ team.1 }} </td>
                        <td > <img src="
                           {% if team.5 == '1' %}
                              {% static 'season/siteimages/F1.png' %}
                           {% elif team.5 == '2' %}
                              {% static 'season/siteimages/F2.png' %}
                           {% elif team.5 == '3' %}
                              {% static 'season/siteimages/F3.png' %}
                           {% else%}
                              {% static 'season/siteimages/W.png' %}
                           {% endif%}
                           " height = "30px" >
                        </td>
                        <td > {{ team.0 }} </td>
                        <td > {% if team.2 == "1" %} Lead Driver {% else %} Second Driver {% endif %}  </td>
                        <td > {{ team.3 }} </td>
                        <td class="text-right"> {{ team.4 }} </td>
                     </tr>
                     {% endfor %}

                 </tbody>
                 <tr>
               <td colspan = '3'></td>
               <td><h4>TOTAL</h4></td>
               <td class="text-right"><h4>{{total_score}}</h4></td>
            </tr>
             </table>
      </div>
   </div>
</div>
<br /><br /><br /><br /><br />
{% endblock %}
<!---- BODY CONTENT BLOCK --------->

<!---------------------- FOOTER BLOCK  ------------------->
{% block footer %}
{% endblock %}
<!---------------------- FOOTER BLOCK  ------------------->

<!---------------------- JAVASCRIPT BLOCK  ------------------->
{% block javascript %}
<!-- Required datatable js -->
<script src="{% static '/season/assets/libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static '/season/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script>
   $(document).ready(function() {
       $('#datatable').DataTable();
   } );
</script>
{% endblock %}
<!---------------------- JAVASCRIPT BLOCK  ------------------->
