{% extends "base.html" %}

<!---- TITLE --------->
{% block title %}
{{ user.team.teamName }}
{% endblock %}
{% block breadcrumb %}
My Team
{% endblock %}

<!---- STYLE --------->
{% block css %}
<style>

   img{
      vertical-align:middle;
   }
   .formula{
      font-weight:bold;
      color: white;
      margin-top: 10px;
      margin-bottom: 10px;
   }
   .title{
      margin:0px 5px 0px 15px;
      color: white;

   }
   .name{
      margin:5px 5px 0px 15px;
      font-weight: 700;
      color: white;
   }
   .teamdiv
   {
      border-style: solid;
      border-width:10px;
      border-color: #0f111d;
      padding: 8px;
      background-image: linear-gradient(#DA6020, #D52423);
      border-radius: 25px;

   }
   .container-fluid img{
      height: 80px;
      width: 80px;
      margin:5px 5px 0px 15px;
   }
   .btn{
      float: right;
   }
   .radio-selector label{
      padding-left: 8px;
   }
   .pickertable {
      width:100%;
      margin:10px 5px 10px 0px;
   }
   .pickertable td{
      border-collapse: collapse;
      border: 1px solid black;
      height:45px;
      text-align:center;
   }
   .pickertable th{
      border-collapse: collapse;
      border: 1px solid black;
      height:45px;
      padding-left: 8px;
   }
   .my-custom-scrollbar {
      position: relative;
      height: 300px;
      overflow: auto;
   }
   .table-wrapper-scroll-y {
      display: block;
   }
   .budget-table{
      margin-top:100px;
   }
   .budget-table td {
      padding-right:20px;
   }
   #f1_p2_cost, #f2_p2_cost, #f3_p2_cost, #ws_p2_cost{
      text-decoration:underline;
   }
   .results-l{
      font-weight: 400;
      color: white;
      text-align:left;
      padding-left:10%;
      width: 90%;
   }
   .results-r{
      font-weight: 600;
      color: white;
      text-align:right;
      padding-right:4%;
      width: 25%;

   }
</style>
{% endblock %}

<!---- BODY CONTENT --------->
{% block content %}
<div style = "padding: 0% 2% 10% 2%;">

   {% if not returnmessage %}
   {% else %}
   <h3 style = "background-color: red; color:white;"><center>{{ returnmessage }}</center></h3>
   <br/>
   {% endif %}
   <img src = "{{teamdata.teamLogo.url}} " height= "200" class = "mb-2">

   <h2>{{teamdata.teamName}} Team Line-up</h2>
   <br /><br />
   <div class="tabs-menu">
       <ul class="nav nav-pills">
           <li class="nav-item">
         <!--   <a href="#academy" class="nav-link active" data-toggle="tab">Academy</a>-->
           <a href="{% url 'teamview'%}" class="nav-link active" >Academy</a>
           </li>
           <li class="nav-item">
               <a href="#F1" class="nav-link" data-toggle="tab">Formula 1</a>
           </li>
           <li class="nav-item">
               <a href="#F2" class="nav-link" data-toggle="tab">Formula 2</a>
           </li>
           <li class="nav-item">
               <a href="#F3" class="nav-link" data-toggle="tab">Formula 3</a>
           </li>
           <li class="nav-item">
               <a href="#WS" class="nav-link" data-toggle="tab">W Series</a>
           </li>
       </ul>
       <hr/>
       <br/>
       <div class="tab-content">
          <div class="tab-pane fade show active" id="academy">
               <!------------------ TEAM DIVS ------------------------>
               <div class="container-fluid">
                 <div class="row">
                   <!--- Formula 1 --->
                   <div class=" col-xl-3 col-md-6 teamdiv" >
                      <h4 class = "formula">Formula 1</h4>
                      <table>
                         <tr>
                            <td>
                              <img class = "image-fluid rounded-circle" src="{% if user.team.p1_1.id %} {{ user.team.p1_1.mugshot.url}} {% else %} /static/academy/webPageImages/blankUser.jpg {% endif %}" />
                           </td>
                           <td>
                              <p class = "name" >{{ user.team.p1_1}}</p>
                              <p class = "title" >Lead Driver</p>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <img class = "image-fluid rounded-circle" src="{% if user.team.p1_2.id %} {{ user.team.p1_2.mugshot.url}} {% else %} /static/academy/webPageImages/blankUser.jpg {% endif %}" />
                           </td>
                           <td>
                              <p class = "name" >{{ user.team.p1_2}}</p>
                              <p class = "title" >Second Driver</p>
                           </td>
                        </tr>
                     </table>
                     <!----- results Table ----------->
                     <table>
                        <tr>
                           <td class = "results-l pt-4">
                              F1 Points
                           </td>
                           <td class = "results-r pt-4">
                              {{ teamdata.points_f1}}
                           </td>
                        </tr>
                     </table>
                     <!----- end results Table ----------->
                     <br/>
                   </div>
                   <!--- Formula 2 --->
                   <div class="col-xl-3 col-md-6 col-md-6 teamdiv" >
                      <h4 class = "formula">Formula 2</h4>
                      <table>
                         <tr>
                            <td>
                              <img class = "image-fluid rounded-circle" src="{{ user.team.p2_1.mugshot.url}}" />
                           </td>
                           <td>
                              <p class = "name" >{{ user.team.p2_1}}</p>
                              <p class = "title" >Lead Driver</p>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <img class = "image-fluid rounded-circle" src="{% if user.team.p2_2.id %} {{ user.team.p2_2.mugshot.url}} {% else %} /static/academy/webPageImages/blankUser.jpg {% endif %}" />
                           </td>
                           <td>
                              <p class = "name" >{{ user.team.p2_2}}</p>
                              <p class = "title" >Second Driver</p>
                           </td>
                        </tr>
                     </table>
                     <!----- results Table ----------->
                     <table>
                        <tr>
                           <td class = "results-l pt-4">
                              F2 Points
                           </td>
                           <td class = "results-r pt-4">
                              {{ teamdata.points_f2}}
                           </td>
                        </tr>
                     </table>
                     <!----- end results Table ----------->
                     <br/>
                   </div>
                   <!--- Formula 3 --->
                   <div class="col-xl-3 col-md-6 teamdiv" >
                      <h4 class = "formula">Formula 3</h4>
                      <table>
                         <tr>
                            <td>
                              <img class = "image-fluid rounded-circle" src="{% if user.team.p3_1.id %} {{ user.team.p3_1.mugshot.url}} {% else %} /static/academy/webPageImages/blankUser.jpg {% endif %}" />
                           </td>
                           <td>
                              <p class = "name" >{{ user.team.p3_1}}</p>
                              <p class = "title" >Lead Driver</p>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <img class = "image-fluid rounded-circle" src="{% if user.team.p3_2.id %} {{ user.team.p3_2.mugshot.url}} {% else %} /static/academy/webPageImages/blankUser.jpg {% endif %}" />
                           </td>
                           <td>
                              <p class = "name" >{{ user.team.p3_2}}</p>
                              <p class = "title" >Second Driver</p>
                           </td>
                        </tr>
                     </table>
                     <!----- results Table ----------->
                     <table>
                        <tr>
                           <td class = "results-l pt-4">
                              F3 Points
                           </td>
                           <td  class = "results-r pt-4">
                              {{ teamdata.points_f3}}
                           </td>
                        </tr>
                     </table>
                     <!----- end results Table ----------->
                     <br/>
                   </div>
                   <!--- W Series--->
                   <div class="col-xl-3 col-md-6 teamdiv">
                      <h4 class = "formula">W Series</h4>
                      <table>
                         <tr>
                            <td>
                              <img class = "image-fluid rounded-circle" src="{% if user.team.pw_1.id %} {{ user.team.pw_1.mugshot.url}} {% else %} /static/academy/webPageImages/blankUser.jpg {% endif %}" />
                           </td>
                           <td>
                              <p class = "name" >{{ user.team.pw_1}}</p>
                              <p class = "title" >Lead Driver</p>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <img class = "image-fluid rounded-circle" src="{% if user.team.pw_2.id %} {{ user.team.pw_2.mugshot.url}} {% else %} /static/academy/webPageImages/blankUser.jpg {% endif %}" />
                           </td>
                           <td>
                              <p class = "name" >{{ user.team.pw_2}}</p>
                              <p class = "title" >Second Driver</p>
                           </td>
                        </tr>
                     </table>
                     <!----- results Table ----------->
                     <table>
                        <tr>
                           <td class = "results-l pt-4">
                              W Series Points
                           </td>
                           <td class = "results-r pt-4 text-right">
                              {{ teamdata.points_ws}}
                           </td>
                        </tr>
                     </table>
                     <!----- end results Table ----------->
                     <br/>
                   </div>
                 </div>
               </div>
<!------------------ TEAM DIVS ------------------------>
            </div>

<!------------------ F1 Edit DIV ------------------------>
            <div class="tab-pane fade" id="F1">
               <div style = "padding: 0% 5% 10% 5%;">
                  <h2>F1 Team</h2>
                  <dl class="row justify-content-center">

                     <dt class=" DriverSection col-lg-1 col-md-0"></dt>

                     <dt class=" DriverSection col-lg-3 col-sm-6">
                        <img class = "image-fluid rounded-circle" src="{{ teamdata.p1_1.mugshot.url}}" style="height:150px;"/>
                        <h3 class="mt-2">{{ teamdata.p1_1}}</h3>
                        <p>Lead Driver</p>
                        <p><b>${{ teamdata.p1_1.value}}m </b>(Paid:${{ teamdata.p1_1_cost}}m) </p>
                     </dt>

                     <dt class=" DriverSection col-lg-3 col-sm-6">
                        <img class = "image-fluid rounded-circle" src="{{ teamdata.p1_2.mugshot.url}}" style="height:150px;"/>
                        <h3 class="mt-2">{{ teamdata.p1_2}}</h3>
                        <p>Second Driver</p>
                        <p><b>${{ teamdata.p1_2.value}}m </b>(Paid:${{ teamdata.p1_2_cost}}m) </p>
                     </dt>

                     <dt class=" DriverSection col-lg-4 col-md-8">
                        <table class="budget-table" style="margin-top:100px;">
                           <tr><th><h3 id = "f1_budget_title">Current F1 Cash:</h3></th><th></th>
                           <tr><td id="f1_p1_name" >{{ teamdata.p1_1}}    </td><td id="f1_p1_cost"        >$</td></tr>
                           <tr><td id="f1_p2_name" >{{ teamdata.p1_2}}    </td><td id="f1_p2_cost"        >$</td></tr>
                           <tr><td>Total Cost                             </td><td id="f1_total_cost"     >$</td></tr>
                           <tr><td>Budget remaining                       </td><td id="f1_total_cash_left">$</td></tr>
                        </table>
                        <p>
                     </dt>

                  </dl>
                  <!-- Edit Table ----->
                  <br />
                  <p style="text-align:right;padding-right:20%;"><input type="submit" name="F1_submit" value="UPDATE DRIVERS"  form="F1_form"></p>
                  <br />
                  <div class="table-wrapper-scroll-y my-custom-scrollbar radio-selector">
                     <div class="container-fluid">
                        <div class="row justify-content-center">
                           <!--- Formula 1 --->
                           <div class="col-sm-6">
                              <table class="pickertable">
                                 <tr><!--<th></th>--><th>Driver</th><th style="text-align:center;">Cost</th><th style="text-align:center;">Points</th>
                                 {% for driver in f1drivers.all %}
                                 <tr>
                                    <!--<td>
                                    <img src="{{driver.mugshot.url}}" height='50px;' class="d-inline-block" alt="" loading="lazy">
                                    </td>-->
                                 <td style="text-align:left;">{{driver.firstname}} {{driver.surname}}
                                 </td><td style="padding-left:5px;">
                                    ${{driver.value}}m
                                 </td><td style="padding-left:10px;">
                                    {{driver.points_total}}
                                 </td></tr>
                                 {% endfor%}
                              </table>
                           </div>
                           <!---Lead driver picker -->
                           <div class="col-sm-2">
                              <form action="{% url 'teamview' %}?tab=F1" method="POST" id="F1_form">
                                 {% csrf_token %}
                                 <table class="pickertable">
                                    <tr><th style="text-align:center;">Driver #1</th></tr>
                                    {% for driver in f1drivers.all %}
                                       <tr><td>
                                          <input type="radio" id="p1_1_picker" name="p1_1_picker" value="{{driver.id}}|{{driver.firstname}} {{driver.surname}}|{{driver.value}}" {% if teamdata.p1_1.id == driver.id %} checked {% endif %}>
                                       </td</tr>
                                    {% endfor%}
                                 </table>
                           </div>
                           <!---Second driver picker -->
                           <div class="col-sm-2">
                                 <table class="pickertable">
                                    <tr><th style="text-align:center;">Driver #2 </th>
                                    {% for driver in f1drivers.all %}
                                       <tr><td>
                                          <input type="radio" id="p1_2_picker" name="p1_2_picker" value="{{driver.id}}|{{driver.firstname}} {{driver.surname}}|{{driver.value}}" {% if teamdata.p1_2.id == driver.id %} checked {% endif %}>
                                       </td</tr>
                                    {% endfor%}
                                 </table>
                              </form>
                           </div>
                        </div>
                     </div>

                  </div>
                  <p style="text-align:right;padding-right:20%;"><br /><br /><input type="submit" name="F1_submit" value="UPDATE DRIVERS"  form="F1_form"></p>
               </div>
            </div>

<!------------------ F2 Edit DIV ------------------------>
            <div class="tab-pane fade" id="F2">
               <div style = "padding: 0% 5% 10% 5%;">
                  <h2>F2 Team</h2>
                  <dl class="row justify-content-center">
                     <dt class=" DriverSection col-sm-1"></dt>
                     <dt class=" DriverSection col-sm-3">
                        <img class = "image-fluid rounded-circle" src="{{ teamdata.p2_1.mugshot.url}}" style="height:150px;"/>
                        <h4 class="mt-2">{{ teamdata.p2_1}}</h4>
                        <p>Lead Driver</p>
                        <p><b>${{ teamdata.p2_1.value}}m </b>(Paid:${{ teamdata.p2_1_cost}}m) </p>
                     </dt>
                     <dt class=" DriverSection col-sm-3">
                        <img class = "image-fluid rounded-circle" src="{{ teamdata.p2_2.mugshot.url}}" style="height:150px;"/>
                        <h4 class="mt-2">{{ teamdata.p2_2}}</h4>
                        <p>Second Driver</p>
                        <p><b>${{ teamdata.p2_2.value}}m </b>(Paid:${{ teamdata.p2_2_cost}}m) </p>
                     </dt>
                     <dt class=" DriverSection col-sm-4">
                        <table class="budget-table" style="margin-top:100px;">
                           <tr><th><h3 id = "f2_budget_title">Current F2 Cash</h3></th><th></th>
                           <tr><td id="f2_p1_name" >{{ teamdata.p2_1}}    </td><td id="f2_p1_cost"        >$</td></tr>
                           <tr><td id="f2_p2_name" >{{ teamdata.p2_2}}    </td><td id="f2_p2_cost"        >$</td></tr>
                           <tr><td>Total Cost                             </td><td id="f2_total_cost"     >$</td></tr>
                           <tr><td>Budget remaining                       </td><td id="f2_total_cash_left">$</td></tr>
                        </table>
                        <p>
                     </dt>
                  </dl>
                  <!-- Edit Table ----->
                  <br />
                  <p style="text-align:right;padding-right:20%;"><input type="submit" name="F2_submit" value="UPDATE DRIVERS"  form="F2_form"></p>
                  <br />
                  <div class="table-wrapper-scroll-y my-custom-scrollbar radio-selector">
                     <div class="container-fluid">
                        <div class="row justify-content-center">
                           <!--- Formula 1 --->
                           <div class="col-sm-6">
                              <table class="pickertable">
                                 <tr><!--<th></th>--><th>Driver</th><th style="text-align:center;">Cost</th><th style="text-align:center;">Points</th>
                                 {% for driver in f2drivers.all %}
                                 <tr>
                                    <!--<td>
                                    <img src="{{driver.mugshot.url}}" height='50px;' class="d-inline-block" alt="" loading="lazy">
                                    </td>-->
                                 <td style="text-align:left;"><label for="{{driver.surname}}"> {{driver.firstname}} {{driver.surname}} </label>
                                 </td><td style="padding-left:5px;">
                                    ${{driver.value}}m
                                 </td><td style="padding-left:10px;">
                                    {{driver.points_total}}
                                 </td></tr>
                                 {% endfor%}
                              </table>
                           </div>
                           <!---Lead driver picker -->
                           <div class="col-sm-2">
                              <form action="{% url 'teamview' %}?tab=F2" method="POST" id="F2_form">
                                 {% csrf_token %}
                                 <table class="pickertable">
                                    <tr><th style="text-align:center;">Driver #1</th></tr>
                                    {% for driver in f2drivers.all %}
                                       <tr><td>
                                          <input type="radio" id="p2_1_picker" name="p2_1_picker" value="{{driver.id}}|{{driver.firstname}} {{driver.surname}}|{{driver.value}}" {% if teamdata.p2_1.id == driver.id %} checked {% endif %}>
                                       </td</tr>
                                    {% endfor%}
                                 </table>
                           </div>
                           <!---Second driver picker -->
                           <div class="col-sm-2">
                                 <table class="pickertable">
                                    <tr><th style="text-align:center;">Driver #2 </th>
                                    {% for driver in f2drivers.all %}
                                       <tr><td>
                                          <input type="radio" id="p2_2_picker" name="p2_2_picker" value="{{driver.id}}|{{driver.firstname}} {{driver.surname}}|{{driver.value}}" {% if teamdata.p2_2.id == driver.id %} checked {% endif %}>
                                       </td</tr>
                                    {% endfor%}
                                 </table>
                              </form>
                           </div>
                        </div>
                     </div>

                  </div>
                  <p style="text-align:right;padding-right:20%;"><br /><br /><input type="submit" name="F2_submit" value="UPDATE DRIVERS"  form="F2_form"></p>
               </div>
            </div>
<!------------------ F3 Edit DIV ------------------------>
            <div class="tab-pane fade" id="F3">
               <div style = "padding: 0% 5% 10% 5%;">
                  <h2>F3 Team</h2>
                  <dl class="row justify-content-center">
                     <dt class=" DriverSection col-sm-1"></dt>
                     <dt class=" DriverSection col-sm-3">
                        <img class = "image-fluid rounded-circle" src="{{ teamdata.p3_1.mugshot.url}}" style="height:150px;"/>
                        <h4 class="mt-2">{{ teamdata.p3_1}}</h4>
                        <p>Lead Driver</p>
                        <p><b>${{ teamdata.p3_1.value}}m </b>(Paid:${{ teamdata.p3_1_cost}}m) </p>
                     </dt>
                     <dt class=" DriverSection col-sm-3">
                        <img class = "image-fluid rounded-circle" src="{{ teamdata.p3_2.mugshot.url}}" style="height:150px;"/>
                        <h4 class="mt-2">{{ teamdata.p3_2}}</h4>
                        <p>Second Driver</p>
                        <p><b>${{ teamdata.p3_2.value}}m </b>(Paid:${{ teamdata.p3_2_cost}}m) </p>
                     </dt>
                     <dt class=" DriverSection col-sm-4">
                        <table class="budget-table" style="margin-top:100px;">
                           <tr><th><h3 id = "f3_budget_title">Current F3 Cash</h3></th><th></th>
                           <tr><td id="f3_p1_name" >{{ teamdata.p2_1}}    </td><td id="f3_p1_cost"        >$</td></tr>
                           <tr><td id="f3_p2_name" >{{ teamdata.p2_2}}    </td><td id="f3_p2_cost"        >$</td></tr>
                           <tr><td>Total Cost                             </td><td id="f3_total_cost"     >$</td></tr>
                           <tr><td>Budget remaining                       </td><td id="f3_total_cash_left">$</td></tr>
                        </table>
                        <p>
                     </dt>
                  </dl>
                  <!-- Edit Table ----->
                  <br />
                  <p style="text-align:right;padding-right:20%;"><input type="submit" name="F3_submit" value="UPDATE DRIVERS"  form="F3_form"></p>
                  <br />
                  <div class="table-wrapper-scroll-y my-custom-scrollbar radio-selector">
                     <div class="container-fluid">
                        <div class="row justify-content-center">
                           <!--- Formula 3 --->
                           <div class="col-sm-6">
                              <table class="pickertable">
                                 <tr><!--<th></th>--><th>Driver</th><th style="text-align:center;">Cost</th><th style="text-align:center;">Points</th>
                                 {% for driver in f3drivers.all %}
                                 <tr>
                                    <!--<td>
                                    <img src="{{driver.mugshot.url}}" height='50px;' class="d-inline-block" alt="" loading="lazy">
                                    </td>-->
                                 <td style="text-align:left;"><label for="{{driver.surname}}"> {{driver.firstname}} {{driver.surname}} </label>
                                 </td><td style="padding-left:5px;">
                                    ${{driver.value}}m
                                 </td><td style="padding-left:10px;">
                                    {{driver.points_total}}
                                 </td></tr>
                                 {% endfor%}
                              </table>
                           </div>
                           <!---Lead driver picker -->
                           <div class="col-sm-2">
                              <form action="{% url 'teamview' %}?tab=F3" method="POST" id="F3_form">
                                 {% csrf_token %}
                                 <table class="pickertable">
                                    <tr><th style="text-align:center;">Driver #1</th></tr>
                                    {% for driver in f3drivers.all %}
                                       <tr><td>
                                          <input type="radio" id="p2_1_picker" name="p3_1_picker" value="{{driver.id}}|{{driver.firstname}} {{driver.surname}}|{{driver.value}}" {% if teamdata.p3_1.id == driver.id %} checked {% endif %}>
                                       </td</tr>
                                    {% endfor%}
                                 </table>
                           </div>
                           <!---Second driver picker -->
                           <div class="col-sm-2">
                                 <table class="pickertable">
                                    <tr><th style="text-align:center;">Driver #2 </th>
                                    {% for driver in f3drivers.all %}
                                       <tr><td>
                                          <input type="radio" id="p3_2_picker" name="p3_2_picker" value="{{driver.id}}|{{driver.firstname}} {{driver.surname}}|{{driver.value}}" {% if teamdata.p3_2.id == driver.id %} checked {% endif %}>
                                       </td</tr>
                                    {% endfor%}
                                 </table>
                              </form>
                           </div>
                        </div>
                     </div>

                  </div>
                  <p style="text-align:right;padding-right:20%;"><br /><br /><input type="submit" name="F3_submit" value="UPDATE DRIVERS"  form="F3_form"></p>
               </div>
            </div>
<!------------------ WS Edit DIV ------------------------>
            <div class="tab-pane fade" id="WS">
               <div style = "padding: 0% 5% 10% 5%;">
                  <h2>W Series Team</h2>
                  <dl class="row justify-content-center">
                     <dt class=" DriverSection col-sm-1"></dt>
                     <dt class=" DriverSection col-sm-3">
                        <img class = "image-fluid rounded-circle" src="{{ teamdata.pw_1.mugshot.url}}" style="height:150px;"/>
                        <h4 class="mt-2">{{ teamdata.pw_1}}</h4>
                        <p>Lead Driver</p>
                        <p><b>${{ teamdata.pw_1.value}}m </b>(Paid:${{ teamdata.pw_1_cost}}m) </p>
                     </dt>
                     <dt class=" DriverSection col-sm-3">
                        <img class = "image-fluid rounded-circle" src="{{ teamdata.pw_2.mugshot.url}}" style="height:150px;"/>
                        <h4 class="mt-2">{{ teamdata.pw_2}}</h4>
                        <p>Second Driver</p>
                        <p><b>${{ teamdata.pw_2.value}}m </b>(Paid:${{ teamdata.pw_2_cost}}m) </p>
                     </dt>
                     <dt class=" DriverSection col-sm-4">
                        <table class="budget-table" style="margin-top:100px;">
                           <tr><th><h3 id = "fw_budget_title">Current WS Cash</h3></th><th></th>
                           <tr><td id="ws_p1_name" >{{ teamdata.pw_1}}    </td><td id="ws_p1_cost"        >$</td></tr>
                           <tr><td id="ws_p2_name" >{{ teamdata.pw_2}}    </td><td id="ws_p2_cost"        >$</td></tr>
                           <tr><td>Total Cost                             </td><td id="ws_total_cost"     >$</td></tr>
                           <tr><td>Budget remaining                       </td><td id="ws_total_cash_left">$</td></tr>
                        </table>
                        <p>
                     </dt>
                  </dl>
                  <!-- Edit Table ----->
                  <br />
                  <p style="text-align:right;padding-right:20%;"><input type="submit" name="WS_submit" value="UPDATE DRIVERS"  form="WS_form"></p>
                  <br />
                  <div class="table-wrapper-scroll-y my-custom-scrollbar radio-selector">
                     <div class="container-fluid">
                        <div class="row justify-content-center">
                           <!--- W Series --->
                           <div class="col-sm-6">
                              <table class="pickertable">
                                 <tr><!--<th></th>--><th>Driver</th><th style="text-align:center;">Cost</th><th style="text-align:center;">Points</th>
                                 {% for driver in wsdrivers.all %}
                                 <tr>
                                    <!--<td>
                                    <img src="{{driver.mugshot.url}}" height='50px;' class="d-inline-block" alt="" loading="lazy">
                                    </td>-->
                                 <td style="text-align:left;"><label for="{{driver.surname}}"> {{driver.firstname}} {{driver.surname}} </label>
                                 </td><td style="padding-left:5px;">
                                    ${{driver.value}}m
                                 </td><td style="padding-left:10px;">
                                    {{driver.points_total}}
                                 </td></tr>
                                 {% endfor%}
                              </table>
                           </div>
                           <!---Lead driver picker -->
                           <div class="col-sm-2">
                              <form action="{% url 'teamview' %}?tab=WS" method="POST" id="WS_form">
                                 {% csrf_token %}
                                 <table class="pickertable">
                                    <tr><th style="text-align:center;">Driver #1</th></tr>
                                    {% for driver in wsdrivers.all %}
                                       <tr><td>
                                          <input type="radio" id="pw_1_picker" name="pw_1_picker" value="{{driver.id}}|{{driver.firstname}} {{driver.surname}}|{{driver.value}}" {% if teamdata.pw_1.id == driver.id %} checked {% endif %}>
                                       </td</tr>
                                    {% endfor%}
                                 </table>
                           </div>
                           <!---Second driver picker -->
                           <div class="col-sm-2">
                                 <table class="pickertable">
                                    <tr><th style="text-align:center;">Driver #2 </th>
                                    {% for driver in wsdrivers.all %}
                                       <tr><td>
                                          <input type="radio" id="pw_2_picker" name="pw_2_picker" value="{{driver.id}}|{{driver.firstname}} {{driver.surname}}|{{driver.value}}" {% if teamdata.pw_2.id == driver.id %} checked {% endif %}>
                                       </td</tr>
                                    {% endfor%}
                                 </table>
                              </form>
                           </div>
                        </div>
                     </div>

                  </div>
                  <p style="text-align:right;padding-right:20%;"><br /><br /><input type="submit" name="WS_submit" value="UPDATE DRIVERS"  form="WS_form"></p>
               </div>
            </div>
<!------------------ End WS Edit DIV ------------------------>
         </div>
    </div>
   <br /><br />
</div>

<!-- sample modal content -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
   <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title align-self-center mt-0" id="myModalLabel">Choose your Team Name</h5>
        </div>
        <div class="modal-body">

           <p>The first thing you have to do is make the big decision - What will we call the team? </p>
           <p> Think about it carefully as you will not be able to change it after the season begins
             (or you score your first points). Click on the button below to select a team name and image</p>
        </div>
        <div class="modal-footer">
           <a href = "{% url 'teamnamepicker'%}"><button type="button" class="btn btn-primary ">Choose My Team name</button></a>
        </div>
   </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}

<!---------------------- FOOTER BLOCK  ------------------->
{% block footer %}
{% endblock %}
<!---------------------- FOOTER BLOCK  ------------------->

<!---------------------- JAVASCRIPT BLOCK  ------------------->
{% block javascript %}
   <script type="text/javascript">
      //Pick up GET parameters
      //example.com?param1=name&param2=&id=6
      //$.urlParam('param1'); // name
      $.urlParam = function(name){
          var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
          if (results==null) {
             return null;
          }
          return decodeURI(results[1]) || 0;
       }

       $(document).ready(function(){
          //show modal if no team name selected
          if('{{teamdata.teamName}}' == 'My Team') {
          	 $('#myModal').modal('show');
          }

         // go to correct team tab
         $('.nav-pills a[href="#' + $.urlParam('tab') + '"]').tab('show');
         // gives us... $('.nav-pills a[href="#F1"]').tab('show');
         // USAGE:  URL/season/teamview?tab=F2

         //////////////////////////////////////////////
         // F1 - Set up RHS table numbers with current values
         totalcost = parseFloat({{teamdata.p1_1.value}})+parseFloat({{teamdata.p1_2.value}});
         cashbalance = parseFloat({{teamdata.f1_cashpot}});
         totalcost = totalcost.toFixed(1);
         cashbalance = cashbalance.toFixed(1);
         //Fill in Page values
         $("#f1_p1_cost").text("$"+{{teamdata.p1_1.value}}+"m");
         $("#f1_p2_cost").text("$"+{{teamdata.p1_2.value}}+"m");
         $("#f1_total_cost").text("$"+totalcost+"m");
         $("#f1_total_cash_left").text("$"+cashbalance+"m");
         $('input[name="F1_submit"]').attr('disabled','disabled');

         //////////////////////////////////////////////
         // F2 - Set up RHS table numbers with current values
         totalcost = parseFloat({{teamdata.p2_1.value}})+parseFloat({{teamdata.p2_2.value}});
         cashbalance = parseFloat({{teamdata.f2_cashpot}});
         totalcost = totalcost.toFixed(1);
         cashbalance = cashbalance.toFixed(1);
         //Fill in Page values
         $("#f2_p1_cost").text("$"+{{teamdata.p2_1.value}}+"m");
         $("#f2_p2_cost").text("$"+{{teamdata.p2_2.value}}+"m");
         $("#f2_total_cost").text("$"+totalcost+"m");
         $("#f2_total_cash_left").text("$"+cashbalance+"m");
         $('input[name="F2_submit"]').attr('disabled','disabled');

         //////////////////////////////////////////////
         // F3 - Set up RHS table numbers with current values
         totalcost = parseFloat({{teamdata.p3_1.value}})+parseFloat({{teamdata.p3_2.value}});
         cashbalance = parseFloat({{teamdata.f3_cashpot}});
         totalcost = totalcost.toFixed(1);
         cashbalance = cashbalance.toFixed(1);
         //Fill in Page values
         $("#f3_p1_cost").text("$"+{{teamdata.p3_1.value}}+"m");
         $("#f3_p2_cost").text("$"+{{teamdata.p3_2.value}}+"m");
         $("#f3_total_cost").text("$"+totalcost+"m");
         $("#f3_total_cash_left").text("$"+cashbalance+"m");
         $('input[name="F3_submit"]').attr('disabled','disabled');

         //////////////////////////////////////////////
         // WS - Set up RHS table numbers with current values
         totalcost = parseFloat({{teamdata.pw_1.value}})+parseFloat({{teamdata.pw_2.value}});
         cashbalance = parseFloat({{teamdata.ws_cashpot}});
         totalcost = totalcost.toFixed(1);
         cashbalance = cashbalance.toFixed(1);
         //Fill in Page values
         $("#ws_p1_cost").text("$"+{{teamdata.pw_1.value}}+"m");
         $("#ws_p2_cost").text("$"+{{teamdata.pw_2.value}}+"m");
         $("#ws_total_cost").text("$"+totalcost+"m");
         $("#ws_total_cash_left").text("$"+cashbalance+"m");
         $('input[name="WS_submit"]').attr('disabled','disabled');


///////////F1 Driver 1 selector change///////////////////////////
         var $radios1_1 = $('input[name="p1_1_picker"]');

         $radios1_1.change(function() {
            //Get Cash balance
            cashbalance = $("#f1_total_cash_left").text();
            cashbalance = parseFloat(cashbalance.substring(1, cashbalance.length-1));

            //Change Title First time
            $("#f1_budget_title").text("New Team Picks:");

            //add departing driver cost to cashbalance
            p1_1_dep_val = $("#f1_p1_cost").text();
            p1_1_dep_val = p1_1_dep_val.substring(1, p1_1_dep_val.length-1);           //Strip $ amd m
            cashbalance += parseFloat(p1_1_dep_val);                               //turn it back into a number

            //Pick up new radio button values and show
            var $checked = $radios1_1.filter(function() {
               return $(this).prop('checked');
            });
            var $f1_p1 = $checked.val().split('|');
            var p1_1_new_value = $f1_p1.pop();
            var p1_1_new_name = $f1_p1.pop();

            // Update RHS fields
            $("#f1_p1_cost").text('$'+p1_1_new_value+'m');
            $("#f1_p1_name").text(p1_1_new_name);

            //update teamTotalCost - first get OTHER driver cost
            p1_2_dep_val = $("#f1_p2_cost").text()
            p1_2_dep_val = p1_2_dep_val.substring(1, p1_2_dep_val.length-1);
            teamTotalCost = parseFloat(p1_1_new_value) + parseFloat(p1_2_dep_val);
            teamTotalCost = teamTotalCost.toFixed(1);
            $("#f1_total_cost").text('$' + teamTotalCost + 'm');

            //deduct new driver cost from cashbalance
            cashbalance -= parseFloat(p1_1_new_value);

            //round it.
            cashbalance = cashbalance.toFixed(1);
            $("#f1_total_cash_left").text('$'+cashbalance+'m');
            // Show Budget red if negative
            if(cashbalance < 0){$('#f1_total_cash_left').css('color', 'red');}else{$('#f1_total_cash_left').css('color', '#A3A4AB');}
            //Test values for both drivers present before enabling UPDATE button
            if (cashbalance < 0 || parseFloat(p1_1_new_value) < 1 || parseFloat(p1_2_dep_val) < 1 )
               {$('input[name="F1_submit"]').attr('disabled','disabled');}
            else
               {$('input[name="F1_submit"]').removeAttr('disabled');}
         });

///////////F1 Driver 2 selector change///////////////////////////
         var $radios1_2 = $('input[name="p1_2_picker"]');

         $radios1_2.change(function() {
            //Get Cash balance
            cashbalance = $("#f1_total_cash_left").text();
            cashbalance = parseFloat(cashbalance.substring(1, cashbalance.length-1));

            //Change Title First time
            $("#f1_budget_title").text("New Team Picks:");

            //add departing driver cost to cashbalance
            p1_2_dep_val = $("#f1_p2_cost").text();
            p1_2_dep_val = p1_2_dep_val.substring(1, p1_2_dep_val.length-1);            //Strip $ amd m
            cashbalance += parseFloat(p1_2_dep_val);                               //turn it back into a number

            //Pick up new radio button values and show
            var $checked = $radios1_2.filter(function() {
               return $(this).prop('checked');
            });
            var $f1_p2 = $checked.val().split('|');
            var p1_2_new_value = $f1_p2.pop();
            var p1_2_new_name = $f1_p2.pop();

            // Update RHS fields
            $("#f1_p2_cost").text('$'+p1_2_new_value+'m');
            $("#f1_p2_name").text(p1_2_new_name);

            //update teamTotalCost - first get OTHER driver cost
            p1_1_dep_val = $("#f1_p1_cost").text()
            p1_1_dep_val = p1_1_dep_val.substring(1, p1_1_dep_val.length-1);
            teamTotalCost = parseFloat(p1_2_new_value) + parseFloat(p1_1_dep_val);
            teamTotalCost = teamTotalCost.toFixed(1);
            $("#f1_total_cost").text('$' + teamTotalCost + 'm');

            //deduct new driver cost from cashbalance
            cashbalance -= parseFloat(p1_2_new_value);
            //round it.
            cashbalance = cashbalance.toFixed(1);
            //show new cash balance
            $("#f1_total_cash_left").text('$'+cashbalance+'m');
            // Show Budget red if negative
            if(cashbalance < 0){$('#f1_total_cash_left').css('color', 'red');}else{$('#f1_total_cash_left').css('color', '#A3A4AB');}
            //Test values for both drivers present before enabling UPDATE button
            if (cashbalance < 0 || parseFloat(p1_2_new_value) < 1 || parseFloat(p1_1_dep_val) < 1)
               {$('input[name="F1_submit"]').attr('disabled','disabled');}
            else
               {$('input[name="F1_submit"]').removeAttr('disabled');}
         });

///////////F2 Driver 1 selector change///////////////////////////
         var $radios2_1 = $('input[name="p2_1_picker"]');

         $radios2_1.change(function() {
            //Get Cash balance
            cashbalance = $("#f2_total_cash_left").text();
            cashbalance = parseFloat(cashbalance.substring(1, cashbalance.length-1));

            //Change Title First time
            $("#f2_budget_title").text("New Team Picks:");

            //add departing driver cost to cashbalance
            p2_1_dep_val = $("#f2_p1_cost").text();
            p2_1_dep_val = p2_1_dep_val.substring(1, p2_1_dep_val.length-1);       //Strip $ amd m
            cashbalance += parseFloat(p2_1_dep_val);                               //turn it back into a number

            //Pick up new radio button values and show
            var $checked = $radios2_1.filter(function() {
               return $(this).prop('checked');
            });
            var $f2_p1 = $checked.val().split('|');
            var p2_1_new_value = $f2_p1.pop();
            var p2_1_new_name = $f2_p1.pop();

            // Update RHS fields
            $("#f2_p1_cost").text('$'+p2_1_new_value+'m');
            $("#f2_p1_name").text(p2_1_new_name);

            //update teamTotalCost - first get OTHER driver cost
            p2_2_dep_val = $("#f2_p2_cost").text()
            p2_2_dep_val = p2_2_dep_val.substring(1, p2_2_dep_val.length-1);
            teamTotalCost = parseFloat(p2_1_new_value) + parseFloat(p2_2_dep_val);
            teamTotalCost = teamTotalCost.toFixed(1);
            $("#f2_total_cost").text('$' + teamTotalCost + 'm');

            //deduct new driver cost from cashbalance
            cashbalance -= parseFloat(p2_1_new_value);

            //round it.
            cashbalance = cashbalance.toFixed(1);
            $("#f2_total_cash_left").text('$'+cashbalance+'m');
            // Show Budget red if negative
            if(cashbalance < 0){$('#f2_total_cash_left').css('color', 'red');}else{$('#f2_total_cash_left').css('color', '#A3A4AB');}
            //Test values for both drivers present before enabling UPDATE button
            if (cashbalance < 0 || parseFloat(p2_1_new_value) < 1 || parseFloat(p2_2_dep_val) < 1)
               {$('input[name="F2_submit"]').attr('disabled','disabled');}
            else
               {$('input[name="F2_submit"]').removeAttr('disabled');}
         });

///////////F2 Driver 2 selector change///////////////////////////
         var $radios2_2 = $('input[name="p2_2_picker"]');

         $radios2_2.change(function() {
            //Get Cash balance
            cashbalance = $("#f2_total_cash_left").text();
            cashbalance = parseFloat(cashbalance.substring(1, cashbalance.length-1));

            //Change Title First time
            $("#f2_budget_title").text("New Team Picks:");

            //add departing driver cost to cashbalance
            p2_2_dep_val = $("#f2_p2_cost").text();
            p2_2_dep_val = p2_2_dep_val.substring(1, p2_2_dep_val.length-1);            //Strip $ amd m
            cashbalance += parseFloat(p2_2_dep_val);                               //turn it back into a number

            //Pick up new radio button values and show
            var $checked = $radios2_2.filter(function() {
               return $(this).prop('checked');
            });
            var $f2_p2 = $checked.val().split('|');
            var p2_2_new_value = $f2_p2.pop();
            var p2_2_new_name  = $f2_p2.pop();

            // Update RHS fields
            $("#f2_p2_cost").text('$'+p2_2_new_value+'m');
            $("#f2_p2_name").text(p2_2_new_name);

            //update teamTotalCost - first get OTHER driver cost
            p2_1_dep_val = $("#f2_p1_cost").text()
            p2_1_dep_val = p2_1_dep_val.substring(1, p2_1_dep_val.length-1);
            teamTotalCost = parseFloat(p2_2_new_value) + parseFloat(p2_1_dep_val);
            teamTotalCost = teamTotalCost.toFixed(1);
            $("#f2_total_cost").text('$' + teamTotalCost + 'm');

            //deduct new driver cost from cashbalance
            cashbalance -= parseFloat(p2_2_new_value);
            //round it.
            cashbalance = cashbalance.toFixed(1);
            //show new cash balance
            $("#f2_total_cash_left").text('$'+cashbalance+'m');
            // Show Budget red if negative
            if(cashbalance < 0){$('#f2_total_cash_left').css('color', 'red');}else{$('#f2_total_cash_left').css('color', '#A3A4AB');}
            //Test values for both drivers present before enabling UPDATE button
            if (cashbalance < 0 || parseFloat(p2_2_new_value) < 1 || parseFloat(p2_1_dep_val) < 1)
               {$('input[name="F2_submit"]').attr('disabled','disabled');}
            else
               {$('input[name="F2_submit"]').removeAttr('disabled');}
         });

/////////// END F2 Driver 2 selector change///////////////////////////
/////////// F3 Driver 1 selector change///////////////////////////
         var $radios3_1 = $('input[name="p3_1_picker"]');

         $radios3_1.change(function() {
            //Get Cash balance
            cashbalance = $("#f3_total_cash_left").text();
            cashbalance = parseFloat(cashbalance.substring(1, cashbalance.length-1));

            //Change Title First time
            $("#f3_budget_title").text("New Team Picks:");

            //add departing driver cost to cashbalance
            p3_1_dep_val = $("#f3_p1_cost").text();
            p3_1_dep_val = p3_1_dep_val.substring(1, p3_1_dep_val.length-1);       //Strip $ amd m
            cashbalance += parseFloat(p3_1_dep_val);                               //turn it back into a number

            //Pick up new radio button values and show
            var $checked = $radios3_1.filter(function() {
               return $(this).prop('checked');
            });
            var $f3_p1 = $checked.val().split('|');
            var p3_1_new_value = $f3_p1.pop();
            var p3_1_new_name = $f3_p1.pop();

            // Update RHS fields
            $("#f3_p1_cost").text('$'+p3_1_new_value+'m');
            $("#f3_p1_name").text(p3_1_new_name);

            //update teamTotalCost - first get OTHER driver cost
            p3_2_dep_val = $("#f3_p2_cost").text()
            p3_2_dep_val = p3_2_dep_val.substring(1, p3_2_dep_val.length-1);
            teamTotalCost = parseFloat(p3_1_new_value) + parseFloat(p3_2_dep_val);
            teamTotalCost = teamTotalCost.toFixed(1);
            $("#f3_total_cost").text('$' + teamTotalCost + 'm');

            //deduct new driver cost from cashbalance
            cashbalance -= parseFloat(p3_1_new_value);

            //round it.
            cashbalance = cashbalance.toFixed(1);
            $("#f3_total_cash_left").text('$'+cashbalance+'m');
            // Show Budget red if negative
            if(cashbalance < 0){$('#f3_total_cash_left').css('color', 'red');}else{$('#f3_total_cash_left').css('color', '#A3A4AB');}
            //Test values for both drivers present before enabling UPDATE button
            if (cashbalance < 0 || parseFloat(p3_1_new_value) < 1 || parseFloat(p3_2_dep_val) < 1)
               {$('input[name="F3_submit"]').attr('disabled','disabled');}
            else
               {$('input[name="F3_submit"]').removeAttr('disabled');}
         });

///////////F3 Driver 2 selector change///////////////////////////
         var $radios3_2 = $('input[name="p3_2_picker"]');

         $radios3_2.change(function() {
            //Get Cash balance
            cashbalance = $("#f3_total_cash_left").text();
            cashbalance = parseFloat(cashbalance.substring(1, cashbalance.length-1));

            //Change Title First time
            $("#f3_budget_title").text("New Team Picks:");

            //add departing driver cost to cashbalance
            p3_2_dep_val = $("#f3_p2_cost").text();
            p3_2_dep_val = p3_2_dep_val.substring(1, p3_2_dep_val.length-1);            //Strip $ amd m
            cashbalance += parseFloat(p3_2_dep_val);                               //turn it back into a number

            //Pick up new radio button values and show
            var $checked = $radios3_2.filter(function() {
               return $(this).prop('checked');
            });
            var $f3_p2 = $checked.val().split('|');
            var p3_2_new_value = $f3_p2.pop();
            var p3_2_new_name  = $f3_p2.pop();

            // Update RHS fields
            $("#f3_p2_cost").text('$'+p3_2_new_value+'m');
            $("#f3_p2_name").text(p3_2_new_name);

            //update teamTotalCost - first get OTHER driver cost
            p3_1_dep_val = $("#f3_p1_cost").text()
            p3_1_dep_val = p3_1_dep_val.substring(1, p3_1_dep_val.length-1);
            teamTotalCost = parseFloat(p3_2_new_value) + parseFloat(p3_1_dep_val);
            teamTotalCost = teamTotalCost.toFixed(1);
            $("#f3_total_cost").text('$' + teamTotalCost + 'm');

            //deduct new driver cost from cashbalance
            cashbalance -= parseFloat(p3_2_new_value);
            //round it.
            cashbalance = cashbalance.toFixed(1);
            //show new cash balance
            $("#f3_total_cash_left").text('$'+cashbalance+'m');
            // Show Budget red if negative
            if(cashbalance < 0){$('#f3_total_cash_left').css('color', 'red');}else{$('#f3_total_cash_left').css('color', '#A3A4AB');}
            //Test values for both drivers present before enabling UPDATE button
            if (cashbalance < 0 || parseFloat(p3_2_new_value) < 1 || parseFloat(p3_1_dep_val) < 1)
               {$('input[name="F3_submit"]').attr('disabled','disabled');}
            else
               {$('input[name="F3_submit"]').removeAttr('disabled');}
         });

/////////// END F3 Driver 2 selector change///////////////////////////
/////////// WS Driver 1 selector change///////////////////////////////
         var $radiosw_1 = $('input[name="pw_1_picker"]');

         $radiosw_1.change(function() {
            //Get Cash balance
            cashbalance = $("#ws_total_cash_left").text();
            cashbalance = parseFloat(cashbalance.substring(1, cashbalance.length-1));

            //Change Title First time
            $("#ws_budget_title").text("New Team Picks:");

            //add departing driver cost to cashbalance
            pw_1_dep_val = $("#ws_p1_cost").text();
            pw_1_dep_val = pw_1_dep_val.substring(1, pw_1_dep_val.length-1);       //Strip $ amd m
            cashbalance += parseFloat(pw_1_dep_val);                               //turn it back into a number

            //Pick up new radio button values and show
            var $checked = $radiosw_1.filter(function() {
               return $(this).prop('checked');
            });
            var $ws_p1 = $checked.val().split('|');
            var pw_1_new_value = $ws_p1.pop();
            var pw_1_new_name = $ws_p1.pop();

            // Update RHS fields
            $("#ws_p1_cost").text('$'+pw_1_new_value+'m');
            $("#ws_p1_name").text(pw_1_new_name);

            //update teamTotalCost - first get OTHER driver cost
            pw_2_dep_val = $("#ws_p2_cost").text()
            pw_2_dep_val = pw_2_dep_val.substring(1, pw_2_dep_val.length-1);
            teamTotalCost = parseFloat(pw_1_new_value) + parseFloat(pw_2_dep_val);
            teamTotalCost = teamTotalCost.toFixed(1);
            $("#ws_total_cost").text('$' + teamTotalCost + 'm');

            //deduct new driver cost from cashbalance
            cashbalance -= parseFloat(pw_1_new_value);

            //round it.
            cashbalance = cashbalance.toFixed(1);
            $("#ws_total_cash_left").text('$'+cashbalance+'m');
            // Show Budget red if negative
            if(cashbalance < 0){$('#ws_total_cash_left').css('color', 'red');}else{$('#ws_total_cash_left').css('color', '#A3A4AB');}
            //Test values for both drivers present and enough budget before enabling UPDATE button
            if (cashbalance < 0 || parseFloat(pw_1_new_value) < 1 || parseFloat(pw_2_dep_val) < 1)
               {$('input[name="WS_submit"]').attr('disabled','disabled');}
            else
               {$('input[name="WS_submit"]').removeAttr('disabled');}
         });

///////////WS Driver 2 selector change///////////////////////////
         var $radiosw_2 = $('input[name="pw_2_picker"]');

         $radiosw_2.change(function() {
            //Get Cash balance
            cashbalance = $("#ws_total_cash_left").text();
            cashbalance = parseFloat(cashbalance.substring(1, cashbalance.length-1));

            //Change Title First time
            $("#ws_budget_title").text("New Team Picks:");

            //add departing driver cost to cashbalance
            pw_2_dep_val = $("#ws_p2_cost").text();
            pw_2_dep_val = pw_2_dep_val.substring(1, pw_2_dep_val.length-1);            //Strip $ amd m
            cashbalance += parseFloat(pw_2_dep_val);                               //turn it back into a number

            //Pick up new radio button values and show
            var $checked = $radiosw_2.filter(function() {
               return $(this).prop('checked');
            });
            var $ws_p2 = $checked.val().split('|');
            var pw_2_new_value = $ws_p2.pop();
            var pw_2_new_name  = $ws_p2.pop();

            // Update RHS fields
            $("#ws_p2_cost").text('$'+pw_2_new_value+'m');
            $("#ws_p2_name").text(pw_2_new_name);

            //update teamTotalCost - first get OTHER driver cost
            pw_1_dep_val = $("#ws_p1_cost").text()
            pw_1_dep_val = pw_1_dep_val.substring(1, pw_1_dep_val.length-1);
            teamTotalCost = parseFloat(pw_2_new_value) + parseFloat(pw_1_dep_val);
            teamTotalCost = teamTotalCost.toFixed(1);
            $("#ws_total_cost").text('$' + teamTotalCost + 'm');

            //deduct new driver cost from cashbalance
            cashbalance -= parseFloat(pw_2_new_value);
            //round it.
            cashbalance = cashbalance.toFixed(1);
            //show new cash balance
            $("#ws_total_cash_left").text('$'+cashbalance+'m');
            // Show Budget red if negative
            if(cashbalance < 0){$('#ws_total_cash_left').css('color', 'red');}else{$('#ws_total_cash_left').css('color', '#A3A4AB');}
            //Test values for both drivers present before enabling UPDATE button
            if (cashbalance < 0 || parseFloat(pw_2_new_value) < 1 || parseFloat(pw_1_dep_val) < 1)
               {$('input[name="WS_submit"]').attr('disabled','disabled');}
            else
               {$('input[name="WS_submit"]').removeAttr('disabled');}
         });
/////////// END WS Driver 2 selector change///////////////////////////
      });
   </script>
{% endblock %}
<!---------------------- JAVASCRIPT BLOCK  ------------------->
