{% extends "base.html" %}

<!---- TITLE --------->
{% block title%}
Team :{{ user.team.teamName }}
{% endblock %}

<!---- STYLE --------->
{% block css %}
<style>
   p{
      font-size: 1.2rem;
   }
   img{

      vertical-align:middle;
   }
   .formula{
      font-size:1.2rem;
      font-weight:bold;
      color: white;
   }
   .title{
      font-size:0.7rem;
      margin:0px 5px 0px 15px;
      color: white;

   }
   .name{
      font-size:1.1rem;
      margin:5px 5px 0px 15px;
      font-weight: 700;
      color: white;
   }
   .teamdiv
   {
      border-style: solid;
      border-width:3px;
      border-color: white;
      padding: 10px;
      background-color: red;
   }
   .container-fluid img{
      height: 80px;
      width: 80px;
      margin:5px 5px 0px 15px;
   }
   .btn{
      float: right;
   }
   .radio-selector label{
      font-size:1.3rem;
      padding-left: 8px;
   }
   .pickertable {
      width:100%;
      margin:10px 5px 10px 0px;
   }
   .pickertable td{
      border-collapse: collapse;
      border: 1px solid black;
      height:45px;
      text-align:center;
   }
   .pickertable th{
      border-collapse: collapse;
      border: 1px solid black;
      height:45px;
      font-size: 1.2rem;
      padding-left: 8px;
   }
   .my-custom-scrollbar {
      position: relative;
      height: 300px;
      overflow: auto;
   }
      .table-wrapper-scroll-y {
      display: block;
   }
</style>
{% endblock %}

<!---- BODY CONTENT --------->
{% block content %}
<div style = "padding: 5% 5% 10% 5%;">
   <dl class="row">
     <dt class=" toppic col-sm-2">
        <img src="{{ user.team.teamLogo.url }}" width="150" class="d-inline-block" alt="" loading="lazy">
     </dt>
     <dd class="col-sm-5">
        <h1 style = "padding: 0% 0% 0% 0%;">{{user.team.teamName}}</h1>
        <h3>{{user.first_name}} {{user.last_name}}</h3>
     </dd>
   </dl>
   <br />

   <div class="tabs-menu">
       <ul class="nav nav-pills">
           <li class="nav-item">
               <a href="#academy" class="nav-link active" data-toggle="tab">Academy</a>
           </li>
           <li class="nav-item">
               <a href="#F1" class="nav-link" data-toggle="tab">Formula 1</a>
           </li>
           <li class="nav-item">
               <a href="#F2" class="nav-link" data-toggle="tab">Formula 2</a>
           </li>
           <li class="nav-item">
               <a href="#F3" class="nav-link" data-toggle="tab">Formula 3</a>
           </li>
           <li class="nav-item">
               <a href="#WS" class="nav-link" data-toggle="tab">W Series</a>
           </li>
       </ul>
       <hr/>
       <br/>
       <div class="tab-content">
          <div class="tab-pane fade show active" id="academy">
               <!------------------ TEAM DIVS ------------------------>
               <div class="container-fluid">
                 <div class="row">
                   <!--- Formula 1 --->
                   <div class="col-sm-3 teamdiv" >
                      <p class = "formula">Formula 1</p>
                      <table>
                         <tr>
                            <td>
                              <img src="{{ user.team.p1_1.mugshot.url}}" />
                           </td>
                           <td>
                              <p class = "name" >{{ user.team.p1_1}}</p>
                              <p class = "title" >Lead Driver</p>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <img src="{{ user.team.p1_2.mugshot.url}}" />
                           </td>
                           <td>
                              <p class = "name" >{{ user.team.p1_2}}</p>
                              <p class = "title" >Second Driver</p>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <img src="{{ user.team.p1_m.mugshot.url}}" />
                           </td>
                           <td>
                              <p class = "name" >{{ user.team.p1_m}}</p>
                              <p class = "title" >Manager</p>
                           </td>
                        </tr>
                     </table>
                     <a href="#" class="btn btn-primary btn-active" role="button" aria-pressed="true">Edit</a>
                     <br/>
                   </div>
                   <!--- Formula 2 --->
                   <div class="col-sm-3 teamdiv" >
                      <p class = "formula">Formula 2</p>
                      <table>
                         <tr>
                            <td>
                              <img src="{{ user.team.p2_1.mugshot.url}}" />
                           </td>
                           <td>
                              <p class = "name" >{{ user.team.p2_1}}</p>
                              <p class = "title" >Lead Driver</p>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <img src="{{ user.team.p2_2.mugshot.url}}" />
                           </td>
                           <td>
                              <p class = "name" >{{ user.team.p2_2}}</p>
                              <p class = "title" >Second Driver</p>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <img src="{{ user.team.p2_m.mugshot.url}}" />
                           </td>
                           <td>
                              <p class = "name" >{{ user.team.p2_m}}</p>
                              <p class = "title" >Manager</p>
                           </td>
                        </tr>
                     </table>
                     <a href="#" class="btn btn-primary btn-active" role="button" aria-pressed="true">Edit</a>
                   </div>
                   <!--- Formula 3 --->
                   <div class="col-sm-3 teamdiv" >
                      <p class = "formula">Formula 3</p>
                      <table>
                         <tr>
                            <td>
                              <img src="{{ user.team.p3_1.mugshot.url}}" />
                           </td>
                           <td>
                              <p class = "name" >{{ user.team.p3_1}}</p>
                              <p class = "title" >Lead Driver</p>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <img src="{{ user.team.p3_2.mugshot.url}}" />
                           </td>
                           <td>
                              <p class = "name" >{{ user.team.p3_2}}</p>
                              <p class = "title" >Second Driver</p>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <img src="{{ user.team.p3_m.mugshot.url}}" />
                           </td>
                           <td>
                              <p class = "name" >{{ user.team.p3_m}}</p>
                              <p class = "title" >Manager</p>
                           </td>
                        </tr>
                     </table>
                     <a href="#" class="btn btn-primary btn-active" role="button" aria-pressed="true">Edit</a>
                   </div>
                   <!--- W Series--->
                   <div class="col-sm-3 teamdiv" >
                      <p class = "formula">W Series</p>
                      <table>
                         <tr>
                            <td>
                              <img src="{{ user.team.pw_1.mugshot.url}}" />
                           </td>
                           <td>
                              <p class = "name" >{{ user.team.pw_1}}</p>
                              <p class = "title" >Lead Driver</p>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <img src="{{ user.team.pw_2.mugshot.url}}" />
                           </td>
                           <td>
                              <p class = "name" >{{ user.team.pw_2}}</p>
                              <p class = "title" >Second Driver</p>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <img src="{{ user.team.pw_m.mugshot.url}}" />
                           </td>
                           <td>
                              <p class = "name" >{{ user.team.pw_m}}</p>
                              <p class = "title" >Manager</p>
                           </td>
                        </tr>
                     </table>
                     <a href="#" class="btn btn-primary btn-active" role="button" aria-pressed="true">Edit</a>
                   </div>
                 </div>
               </div>
               <!------------------ TEAM DIVS ------------------------>
            </div>

            <!------------------ F1 Edit DIV ------------------------>
            <div class="tab-pane fade" id="F1">
               <div style = "padding: 0% 5% 10% 5%;">
                  <h2>F1 Team</h2>
                  <dl class="row">
                     <dt class=" DriverSection col-sm-2"></dt>
                     <dt class=" DriverSection col-sm-4">
                        <img src="{{ teamdata.p1_1.mugshot.url}}" style="height:150px;"/>
                        <h4 class="mt-2">{{ teamdata.p1_1}}</h4>
                        <p class="text-right">Lead Driver</p>
                        <p><b>${{ teamdata.p1_1.value}}m </b>(Paid:${{ teamdata.p1_1_cost}}m) </p>
                     </dt>
                     <dt class=" DriverSection col-sm-4">
                        <img src="{{ teamdata.p1_2.mugshot.url}}" style="height:150px;"/>
                        <h4 class="mt-2">{{ teamdata.p1_2}}</h4>
                        <p class="text-right">Second Driver</p>
                        <p><b>${{ teamdata.p1_2.value}}m </b>(Paid:${{ teamdata.p1_2_cost}}m) </p>
                     </dt>
                  </dl>
                  <br />
                  <p style="text-align:right;padding-right:20%;"><input type="submit" name="F1_submit" value="UPDATE DRIVERS"  form="F1_form"></p>
                  <br />
                  <div class="table-wrapper-scroll-y my-custom-scrollbar radio-selector">
                     <div class="container-fluid">
                        <div class="row">
                           <!--- Formula 1 --->
                           <div class="col-sm-6">
                              <table class="pickertable">
                                 <tr><!--<th></th>--><th>Driver</th><th style="text-align:center;">Cost</th><th style="text-align:center;">Points</th>
                                 {% for driver in f1drivers.all %}
                                 <tr>
                                    <!--<td>
                                    <img src="{{driver.mugshot.url}}" height='50px;' class="d-inline-block" alt="" loading="lazy">
                                    </td>-->
                                 <td style="text-align:left;"><label for="{{driver.surname}}"> {{driver.firstname}} {{driver.surname}} </label>
                                 </td><td style="padding-left:5px;">
                                    ${{driver.value}}m
                                 </td><td style="padding-left:10px;">
                                    {{driver.pointsThisSeason}}
                                 </td></tr>
                                 {% endfor%}
                              </table>
                           </div>
                           <!---Lead driver picker -->
                           <div class="col-sm-2">
                              <form action="{% url 'teamview' %}?tab=WS" method="POST" id="F1_form">
                                 {% csrf_token %}
                                 <table class="pickertable">
                                    <tr><th style="text-align:center;">Driver #1</th></tr>
                                    {% for driver in f1drivers.all %}
                                       <tr><td>
                                          <input type="radio" name="p1_1" value=" {{driver.id}} " {% if teamdata.p1_1.id == driver.id %} checked {% endif %}>
                                       </td</tr>
                                    {% endfor%}
                                 </table>
                           </div>
                           <!---Second driver picker -->
                           <div class="col-sm-2">
                                 <table class="pickertable">
                                    <tr><th style="text-align:center;">Driver #2 </th>
                                    {% for driver in f1drivers.all %}
                                       <tr><td>
                                          <input type="radio" name="p1_2" value=" {{driver.id}} " {% if teamdata.p1_2.id == driver.id %} checked {% endif %}>
                                       </td</tr>
                                    {% endfor%}
                                 </table>

                              </form>
                           </div>
                        </div>
                     </div>

                  </div>
                  <p style="text-align:right;padding-right:20%;"><br /><br /><input type="submit" name="F1_submit" value="UPDATE DRIVERS"  form="F1_form"></p>
               </div>
            </div>
            <!------------------ F2 Edit DIV ------------------------>
            <div class="tab-pane fade" id="F2">
               <div style = "padding: 0% 5% 10% 5%;">
                  <h2>F2 Team</h2>
                  <dl class="row">
                     <dt class=" DriverSection col-sm-2"></dt>
                     <dt class=" DriverSection col-sm-4">
                        <img src="{{ teamdata.p1_1.mugshot.url}}" style="height:150px;"/>
                        <h4 class="mt-2">{{ teamdata.p2_1}}</h4>
                        <p class="text-right">Lead Driver</p>
                        <p><b>${{ teamdata.p2_1.value}}m </b>(Paid:${{ teamdata.p2_1_cost}}m) </p>
                     </dt>
                     <dt class=" DriverSection col-sm-4">
                        <img src="{{ teamdata.p1_2.mugshot.url}}" style="height:150px;"/>
                        <h4 class="mt-2">{{ teamdata.p2_2}}</h4>
                        <p class="text-right">Second Driver</p>
                        <p><b>${{ teamdata.p2_2.value}}m </b>(Paid:${{ teamdata.p2_2_cost}}m) </p>
                     </dt>
                  </dl>
                  <br />
                  <p style="text-align:right;padding-right:20%;"><input type="submit" name="submit" value="UPDATE DRIVERS"  form="F1_form"></p>
                  <br />
                  <div class="radio-selector">
                     <div class="container-fluid">
                        <div class="row">
                           <!--- Formula 1 --->
                           <div class="col-sm-6">
                              <table class="pickertable">
                                 <tr><!--<th></th>--><th>Driver</th><th style="text-align:center;">Cost</th><th style="text-align:center;">Points</th>
                                 {% for driver in f1drivers.all %}
                                 <tr>
                                    <!--<td>
                                    <img src="{{driver.mugshot.url}}" height='50px;' class="d-inline-block" alt="" loading="lazy">
                                    </td>-->
                                 <td style="text-align:left;"><label for="{{driver.surname}}"> {{driver.firstname}} {{driver.surname}} </label>
                                 </td><td style="padding-left:5px;">
                                    ${{driver.value}}m
                                 </td><td style="padding-left:10px;">
                                    {{driver.pointsThisSeason}}
                                 </td></tr>
                                 {% endfor%}
                              </table>
                           </div>
                           <!---Lead driver picker -->
                           <div class="col-sm-2">
                              <form action="{% url 'teamview' %}?tab=WS" method="POST" id="F1_form">
                                 {% csrf_token %}
                                 <table class="pickertable">
                                    <tr><th style="text-align:center;">Driver #1</th></tr>
                                    {% for driver in f1drivers.all %}
                                       <tr><td>
                                          <input type="radio" name="p1_1" value=" {{driver.id}} " {% if teamdata.p1_1.id == driver.id %} checked {% endif %}>
                                       </td</tr>
                                    {% endfor%}
                                 </table>
                           </div>
                           <!---Second driver picker -->
                           <div class="col-sm-2">
                                 <table class="pickertable">
                                    <tr><th style="text-align:center;">Driver #2 </th>
                                    {% for driver in f1drivers.all %}
                                       <tr><td>
                                          <input type="radio" name="p1_2" value=" {{driver.id}} " {% if teamdata.p1_2.id == driver.id %} checked {% endif %}>
                                       </td</tr>
                                    {% endfor%}
                                 </table>
                                 <p><input type="submit" name="submit" value="UPDATE DRIVERS"  form="F1_form"></p>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!------------------ F3 Edit DIV ------------------------>
            <div class="tab-pane fade" id="F3">
               <div style = "padding: 0% 5% 10% 5%;">
                  <h2>F3 Team</h2>
                  <dl class="row">
                     <dt class=" DriverSection col-sm-2"></dt>
                     <dt class=" DriverSection col-sm-4">
                        <img src="{{ teamdata.p1_1.mugshot.url}}" style="height:150px;"/>
                        <h4 class="mt-2">{{ teamdata.p1_1}}</h4>
                        <p class="text-right">Lead Driver</p>
                        <p><b>${{ teamdata.p1_1.value}}m </b>(Paid:${{ teamdata.p1_1_cost}}m) </p>
                     </dt>
                     <dt class=" DriverSection col-sm-4">
                        <img src="{{ teamdata.p1_2.mugshot.url}}" style="height:150px;"/>
                        <h4 class="mt-2">{{ teamdata.p1_2}}</h4>
                        <p class="text-right">Second Driver</p>
                        <p><b>${{ teamdata.p1_2.value}}m </b>(Paid:${{ teamdata.p1_2_cost}}m) </p>
                     </dt>
                  </dl>
                  <br />
                  <p style="text-align:right;padding-right:20%;"><input type="submit" name="submit" value="UPDATE DRIVERS"  form="F1_form"></p>
                  <br />
                  <div class="radio-selector">
                     <div class="container-fluid">
                        <div class="row">
                           <!--- Formula 1 --->
                           <div class="col-sm-6">
                              <table class="pickertable">
                                 <tr><!--<th></th>--><th>Driver</th><th style="text-align:center;">Cost</th><th style="text-align:center;">Points</th>
                                 {% for driver in f1drivers.all %}
                                 <tr>
                                    <!--<td>
                                    <img src="{{driver.mugshot.url}}" height='50px;' class="d-inline-block" alt="" loading="lazy">
                                    </td>-->
                                 <td style="text-align:left;"><label for="{{driver.surname}}"> {{driver.firstname}} {{driver.surname}} </label>
                                 </td><td style="padding-left:5px;">
                                    ${{driver.value}}m
                                 </td><td style="padding-left:10px;">
                                    {{driver.pointsThisSeason}}
                                 </td></tr>
                                 {% endfor%}
                              </table>
                           </div>
                           <!---Lead driver picker -->
                           <div class="col-sm-2">
                              <form action="{% url 'teamview' %}?tab=WS" method="POST" id="F1_form">
                                 {% csrf_token %}
                                 <table class="pickertable">
                                    <tr><th style="text-align:center;">Driver #1</th></tr>
                                    {% for driver in f1drivers.all %}
                                       <tr><td>
                                          <input type="radio" name="p1_1" value=" {{driver.id}} " {% if teamdata.p1_1.id == driver.id %} checked {% endif %}>
                                       </td</tr>
                                    {% endfor%}
                                 </table>
                           </div>
                           <!---Second driver picker -->
                           <div class="col-sm-2">
                                 <table class="pickertable">
                                    <tr><th style="text-align:center;">Driver #2 </th>
                                    {% for driver in f1drivers.all %}
                                       <tr><td>
                                          <input type="radio" name="p1_2" value=" {{driver.id}} " {% if teamdata.p1_2.id == driver.id %} checked {% endif %}>
                                       </td</tr>
                                    {% endfor%}
                                 </table>
                                 <p><input type="submit" name="submit" value="UPDATE DRIVERS"  form="F1_form"></p>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!------------------ WS Edit DIV ------------------------>
            <div class="tab-pane fade" id="WS">
               <div style = "padding: 0% 5% 10% 5%;">
                  <h2>W Series Team</h2>
                  <dl class="row">
                     <dt class=" DriverSection col-sm-2"></dt>
                     <dt class=" DriverSection col-sm-4">
                        <img src="{{ teamdata.p1_1.mugshot.url}}" style="height:150px;"/>
                        <h4 class="mt-2">{{ teamdata.p1_1}}</h4>
                        <p class="text-right">Lead Driver</p>
                        <p><b>${{ teamdata.p1_1.value}}m </b>(Paid:${{ teamdata.p1_1_cost}}m) </p>
                     </dt>
                     <dt class=" DriverSection col-sm-4">
                        <img src="{{ teamdata.p1_2.mugshot.url}}" style="height:150px;"/>
                        <h4 class="mt-2">{{ teamdata.p1_2}}</h4>
                        <p class="text-right">Second Driver</p>
                        <p><b>${{ teamdata.p1_2.value}}m </b>(Paid:${{ teamdata.p1_2_cost}}m) </p>
                     </dt>
                  </dl>
                  <br />
                  <p style="text-align:right;padding-right:20%;"><input type="submit" name="submit" value="UPDATE DRIVERS"  form="F1_form"></p>
                  <br />
                  <div class="radio-selector">
                     <div class="container-fluid">
                        <div class="row">
                           <!--- Formula 1 --->
                           <div class="col-sm-6">
                              <table class="pickertable">
                                 <tr><!--<th></th>--><th>Driver</th><th style="text-align:center;">Cost</th><th style="text-align:center;">Points</th>
                                 {% for driver in f1drivers.all %}
                                 <tr>
                                    <!--<td>
                                    <img src="{{driver.mugshot.url}}" height='50px;' class="d-inline-block" alt="" loading="lazy">
                                    </td>-->
                                 <td style="text-align:left;"><label for="{{driver.surname}}"> {{driver.firstname}} {{driver.surname}} </label>
                                 </td><td style="padding-left:5px;">
                                    ${{driver.value}}m
                                 </td><td style="padding-left:10px;">
                                    {{driver.pointsThisSeason}}
                                 </td></tr>
                                 {% endfor%}
                              </table>
                           </div>
                           <!---Lead driver picker -->
                           <div class="col-sm-2">
                              <form action="{% url 'teamview' %}?tab=WS" method="POST" id="F1_form">
                                 {% csrf_token %}
                                 <table class="pickertable">
                                    <tr><th style="text-align:center;">Driver #1</th></tr>
                                    {% for driver in f1drivers.all %}
                                       <tr><td>
                                          <input type="radio" name="p1_1" value=" {{driver.id}} " {% if teamdata.p1_1.id == driver.id %} checked {% endif %}>
                                       </td</tr>
                                    {% endfor%}
                                 </table>
                           </div>
                           <!---Second driver picker -->
                           <div class="col-sm-2">
                                 <table class="pickertable">
                                    <tr><th style="text-align:center;">Driver #2 </th>
                                    {% for driver in f1drivers.all %}
                                       <tr><td>
                                          <input type="radio" name="p1_2" value=" {{driver.id}} " {% if teamdata.p1_2.id == driver.id %} checked {% endif %}>
                                       </td</tr>
                                    {% endfor%}
                                 </table>
                                 <p><input type="submit" name="submit" value="UPDATE DRIVERS"  form="F1_form"></p>
                              </form>
                           </div>
                           <!----------->
                        </div>
                     </div>
                  <br />
               </div>
            </div>
         </div>
    </div>
   <br /><br />
</div>
{% endblock %}

<!---------------------- FOOTER BLOCK  ------------------->
{% block footer %}
{% endblock %}
<!---------------------- FOOTER BLOCK  ------------------->

<!---------------------- JAVASCRIPT BLOCK  ------------------->
{% block javascript %}
   <script type="text/javascript">
      //Pick up GET parameters
      //example.com?param1=name&param2=&id=6
      //$.urlParam('param1'); // name
      $.urlParam = function(name){
          var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
          if (results==null) {
             return null;
          }
          return decodeURI(results[1]) || 0;
       }

       $(document).ready(function(){
         //alert($.urlParam('tab'));
         $('.nav-pills a[href="#' + $.urlParam('tab') + '"]').tab('show');
         //gives us... $('.nav-pills a[href="#F1"]').tab('show');
         //USAGE:  URL/season/teamview?tab=F2

      });
   </script>
{% endblock %}
<!---------------------- JAVASCRIPT BLOCK  ------------------->
