{% extends "base.html" %}
{% load static %}
{% load blog_tags %}

<!---- TITLE --------->
{% block title.     %}Test {% endblock %}
{% block breadcrumb %}Tester {% endblock %}

<!---- STYLE --------->
{% block css %}

<style>
</style>
{% endblock %}

<!---- BODY CONTENT --------->
{% block content %}

  <div class="container-fluid">
      <div class="row justify-content-md-center">

         <div class="col-xl-4" id="tourJumbotron">
             {% tag_player_card %}
         </div>

         <div class="col-xl-4" id="tourTable">
              {% tag_show_next_race_sidebar 5 %}
         </div>
         <div class="col-xl-4" id="tourCard">
              {% tag_pi_formula_points %}
         </div>

         <div class="col-xl-4" id="tourCard">
              {% tag_events_so_far %}
         </div>



      </div>
  </div> <!-- container-fluid -->

<!-- end main content-->
{% endblock %}


<!---------------------- FOOTER BLOCK  ------------------->
{% block footer %}
{% endblock %}


<!---------------------- JAVASCRIPT BLOCK  ------------------->
{% block javascript %}


  var tour = new Tour({
    steps: [{
        element: "#tourJumbotron",
        title: "Jumbotron",
        content: "This is example of Jumbotron",
        placement: 'left'
      },
      {
        element: "#tourTable",
        title: "Table",
        content: "This is example of Table",
      },
      {
        element: "#tourCard",
        title: "Card",
        content: "This is example of Card",
        placement: 'left'
      }
    ],
    template: "<div class='popover tour-active tour'><div class='arrow'></div><h5 class='popover-title'></h5><div class='popover-content'></div><div class='popover-navigation'><button class='btn btn-info' data-role='prev'>« Prev</button><button class='btn btn-info ml-1' data-role='next'>Next »</button><button class='btn btn-danger ml-2' data-role='end'><i class='mdi mdi-power mr-2'></i>End</button></div></div>",
    backdrop: 'true',
    autoscroll: 'false',
    orphan:'true',
  });


// Clear session data
localStorage.clear();

// Initialize the tour
tour.init();

// Start the tour
//tour.start();


{% endblock %}

{% block pagescripts %}
<script src="{% static 'season/assets/libs/bootstrap-tour/build/js/bootstrap-tour.min.js' %} "></script>
<script src="{% static 'season/assets/libs/bootstrap-tour/build/js/bootstrap-tour-standalone.min.js' %} "></script>
{% endblock %}
