{% extends "base.html" %}
{% load static %}

<!---- TITLE --------->
{% block title%}TEST{% endblock %}
{% block breadcrumb%}TEST{% endblock %}

<!---- STYLE --------->
{% block css %}
<style>
</style>
{% endblock %}

<!---- BODY CONTENT --------->
{% block content %}
<br /><br /><br /><br /><br />
<div class="row">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-7">

             <div class="tab-pane" id="activity" role="tabpanel">

                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title mb-3">Coming Soon..</h5>
                          <div class="activity">
                              <img src = "{% static 'season/assets/images/flags/french_flag.jpg' %} " alt="" class="img-activity" >
                              <div class="time-item">
                                  <div class="item-info">
                                      <div class="text-muted float-right font-size-10">10 days to go</div>
                                      <h5 class="mt-0 mb-1">Bahrain GP</h5>
                                      <p class="text-muted font-size-13">21st March
                                          <a href="#" class="text-info">[more info]</a>
                                      </p>
                                  </div>
                              </div>
                              <img src = "{% static 'season/assets/images/flags/italy.jpg' %} " alt="" class="img-activity" >
                              <div class="time-item">
                                  <div class="item-info">
                                      <div class="text-muted float-right font-size-10">32 days to go</div>
                                      <h5 class="mt-0 mb-1">Emilia Romagna Grand Prix</h5>
                                      <p class="text-muted font-size-13">18th April
                                          <a href="#" class="text-info">[more info]</a>
                                      </p>
                                  </div>
                              </div>
                              <img src = "{% static 'season/assets/images/flags/spain.jpg' %} " alt="" class="img-activity" >
                              <div class="time-item">
                                  <div class="item-info">
                                      <div class="text-muted float-right font-size-10">45 days to go</div>
                                      <h5 class="mt-0 mb-1">Portugese Grand Prix</h5>
                                      <p class="text-muted font-size-13">2nd May
                                          <a href="#" class="text-info">[more info]</a>
                                      </p>
                                  </div>
                              </div>

                          </div>
                      </div>
                  </div>
               </div>
          <div class="col-md-7 col-sm-5"></div>
        </div>
      </div>
 </div>
<br /><br /><br /><br /><br />
{% endblock %}
<!---- BODY CONTENT BLOCK --------->

<!---------------------- FOOTER BLOCK  ------------------->
{% block footer %}
{% endblock %}
<!---------------------- FOOTER BLOCK  ------------------->

<!---------------------- JAVASCRIPT BLOCK  ------------------->
{% block javascript %}
{% endblock %}
<!---------------------- JAVASCRIPT BLOCK  ------------------->
