{% extends "base.html" %}


<!---- TITLE --------->
{% block title.     %}Build Weekend Records   {% endblock %}
{% block breadcrumb %}Build Weekend Records   {% endblock %}

<!---- STYLE --------->
{% block css %}
<style>
</style>
{% endblock %}

<!---- BODY CONTENT --------->
{% block content %}
<br /><br /><br /><br /><br />
   <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-sm-10 offset-1">
            <h2>Build Weekend Records</h2>
            <br />
            <p>{{ message1 }}</p>
            <p>{{ message2 }}</p>
            <p>{{ message3 }}</p>
            <p>{{ message4 }}</p>
         </div>
      </div>
     </div>
   </div>
   <br />
   <center><a href="{% url 'resultsadmin' %}" class="btn btn-primary btn-primary" role="button" aria-pressed="true">Back to Results Admin</a></center>

<br /><br /><br /><br /><br />
{% endblock %}
<!---- BODY CONTENT BLOCK --------->

<!---------------------- FOOTER BLOCK  ------------------->
{% block footer %}
{% endblock %}
<!---------------------- FOOTER BLOCK  ------------------->

<!---------------------- JAVASCRIPT BLOCK  ------------------->
{% block javascript %}
{% endblock %}
<!---------------------- JAVASCRIPT BLOCK  ------------------->
