{% extends "base.html" %}

<!---- TITLE --------->
{% block title      %}Edit account{% endblock %}
{% block breadcrumb %}Edit account{% endblock %}


<!---- STYLE --------->
{% block css %}
<style>
   p{
      font-size: 1.2rem;
   }
</style>
{% endblock %}

<!---- BODY CONTENT --------->
{% block content %}

<div class = "container">
    <div class="row justify-content-md-center">
        <div class = "card col-lg-6 p-3 mt-5">

            <h2 class = "pb-3">{{user.first_name}} {{user.last_name}}</h2>

            <center>
               <img src="{{ user.profile.photo.url }}" width="250" class="d-inline-block align-center" alt="" loading="lazy">
               <br /><br />
               <p><b>Team :</b> {{user.team.teamName}}</b></p>
               <p><b>eMail:</b> {{ user.email }}
               <br /><br />
               <p>
                  <a href="{% url "edit" %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Edit my Profile</a>
                  &nbsp;&nbsp;&nbsp;
                  <a href="{% url 'password_change' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Change Password</a>
               </p>
            </center>

         </div>
     </div>
 </div>


{% endblock %}
