{% extends "base.html" %}

<!--- TITLE -------->
{% block title      %}Edit account{% endblock %}
{% block breadcrumb %}Edit account{% endblock %}

<!--- CSS ---------->
{% block css %}
<style>

   td{
      height:50px;
   }
</style>
{% endblock %}

<!--- BODY CONTENT -------->
{% block content %}

<div class = "container pt-5">
    <div class="row justify-content-md-center">
        <div class = "card login-formcol-lg-6 p-3">

           <h2 class = "pb-3">{{user.first_name}} {{user.last_name}}</h2>

           <center>
             <img src="{{ user.profile.photo.url }}" width="250" class="d-inline-block align-center" alt="" loading="lazy">
             <br /><br />
            <form method="post" enctype="multipart/form-data" class = "pl-3">
                <table>
                     {{ user_form.as_table }}
                     {{ profile_form.as_table }}
                </table>
                <br />
                <p style = "">
                   <center>
                      <button type="submit" class="btn btn-primary  mb-2">Submit</button>
                   </center>
                </p>
                 {% csrf_token %}
             </form>

         </div>
   </div>
</div>

{% endblock %}
