<!-- email.html - Log in using Django auth system -->

{% extends 'base.html' %}

<!--- TITLE -------->
{% block title %}
Emailer
{% endblock %}

<!--- CSS ---------->
{% block css %}
<style>
   p{
      font-size:1.2rem;
   }
</style>
{% endblock %}

<!--- BODY CONTENT -------->
{% block content %}

<br />
<div style = "padding: 10% 0px 15% 15%;">

{% if sentOK %}

   <h1>E-mail successfully sent</h1>
   <br />
   <p>
      "{{ subject }}" was successfully sent to {{ form.cleaned_data.to }}.
   </p>
</div>
{% else %}

   <h1> GPG Emailer</h1>
   <br />
   <form method="post">
      {% csrf_token %}
      <table>
         {{ form.as_table }}
      </table>
      <br />
      <input type="submit" value="Send e-mail">
   </form>
</div>
{% endif %}

{% endblock %}
