
{% extends "base.html" %}

<!--- TITLE -------->
{% block title      %}Welcome{% endblock %}
{% block breadcrumb %}Welcome{% endblock %}

<!--- CSS ---------->
{% block css %}
<style>
   p{
      font-size:1.2rem;
   }
</style>
{% endblock %}

<!--- BODY CONTENT -------->
{% block content %}

<div class = "container">
    <div class="row justify-content-md-center">
        <div class = "card col-lg-6 p-3 mt-5">

            <h2 class = "pb-3">Welcome  to the Academy, {{ new_user.first_name }}!</h2>
            <br /><br />
            <p>Your account has been successfully created. Now you can <a href="{% url "login" %}">log in</a>.</p>
            <br /><br />

         </div>
     </div>
 </div>

{% endblock %}
