
{% load blog_tags %}
{% load static %}
<!doctype html>
<html lang="en">
<head>

   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="">
   <meta name="author" content="">


   <title>GPG Academy | {% block title %}{% endblock%}</title>

   <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/dashboard/">
   <!-- Load Bootstrap-->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
   <link href="{% static '/academy/css/academy.css' %}" rel="stylesheet">
   <link href="{% static '/academy/css/dashboard.css' %}" rel="stylesheet">

<!---------------------- CSS BLOCK  ------------------->
   {% block css %}
   {% endblock %}
<!---------------------- CSS BLOCK  ------------------->
</head>

<body>
   <main>
      <header>
         <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item {% if section == "home" %}selected{% endif %}">
                     <a class="nav-link" href="{% url 'home' %}" style="margin-left: 18px; font-size: 1.2rem;">Home</a>
                  </li>
                  {% if user.is_authenticated %}
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" style="margin-left: 18px; font-size: 1.2rem;" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        My Team
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'maketeam' %}">My Team</a>
                        <a class="dropdown-item" href="#">My Results</a>
                        <a class="dropdown-item" href="#">League Table</a>
                     </div>
                  </li>
                  {% endif %}
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" style="margin-left: 18px; font-size: 1.2rem;" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Competitors
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href = "{% url 'tables' %}/1"> Formula 1</a>
                        <a class="dropdown-item" href = "{% url 'tables' %}/2"> Formula 2</a>
                        <a class="dropdown-item" href = "{% url 'tables' %}/3">Formula 3</a>
                        <a class="dropdown-item" href = "{% url 'tables' %}/4">W Series</a>
                     </div>
                  </li>
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" style="margin-left: 18px; font-size: 1.2rem;" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Events
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Calendar</a>
                        <a class="dropdown-item" href="#">Results</a>
                     </div>
                  </li>

                 {% if user.is_authenticated %}
                 <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" style="margin-left: 18px; font-size: 1.2rem;" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Settings
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'dashboard' %}">My Account</a>
                        <a class="dropdown-item" href="javascript:{document.getElementById('logout').submit()}" onclick="">Logout</a>
                            <form id="logout" method="POST" action="{% url 'logout' %}">
                              {% csrf_token %}
                              <input type="hidden" />
                            </form>
                        </a>
                     </div>
                  </li>
                  {% endif %}

                  {% if request.user.is_staff %}
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle selected" href="#" style="margin-left: 18px; font-size: 1.2rem;" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'addcompetitors' %}">Competitors</a>
                        <a class="dropdown-item" href="{% url 'addevents' %}">Events</a>
                        <a class="dropdown-item" href="{% url 'addscoringevents' %}">Scoring Events</a>
                        <a class="dropdown-item" href="{% url 'addresults' %}">Results</a>
                     </div>
                  </li>
                  {% endif %}
               </ul>
            </div>

            {% if user.is_authenticated %}

            <a href = "{% url 'dashboard'%}">
               <div class="navbar-brand" style="text-align: right;">
                  <table>
                     <tr>
                        <td>
                           <div style="font-size:1.3rem">{{user.team.teamName}}</div>
                           <div style="font-size:0.8rem">{{user.first_name}} {{user.last_name}}</div>
                        </td><td style="padding-left:10px;">
                           <img src="{{ user.profile.photo.url }}" width="45" height="45" class="d-inline-block align-top" alt="" loading="lazy">
                        </td>
                     </tr>
                  </table>
               </div>
            </a>

            {% else %}

               <div class="navbar-brand" style="text-align: right;">
                  <table>
                     <tr>
                        <td>
                           <a href="{% url 'login'%}"> Log in</a> or <a href="{% url 'register'%}">Join</a>
                        </td><td style="padding-left:10px;">
                           <img src="{% static 'academy/webPageImages/blankUser.jpg' %}" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy">
                        </td>
                     </tr>
                  </table>

               </div>

            {% endif %}

         </nav>
      </header>
<!---------------------- CONTENT BLOCK  ------------------->
         {% block page_title %}
         {% endblock %}

      {% block content %}
      {% endblock %}
<!---------------------- CONTENT BLOCK  ------------------->
      <main role="main">
      </main>
   </body>
   <footer class="text-muted  bg-dark">
      <div class="container">

         <br />
         <h3> <center> {% teamCountTag %} Teams active</center></h3>
         >>>{{ section }}<<<
         <p class="container text-center text-light" >🅒 GPGrandstand {% now "Y" %}</p>
<!---------------------- FOOTER BLOCK  ------------------->
         {% block footer %}
         {% endblock %}
<!---------------------- FOOTER BLOCK  ------------------->
         <br />
      </div>
   </footer>
</html>

<!-- THIS POINTS TO CDN BOOTSTRAP ASSETS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

<!---------------------- JAVASCRIPT BLOCK  ------------------->
{% block javascript %}
{% endblock %}
<!---------------------- JAVASCRIPT BLOCK  ------------------->
