
{% extends 'base.html' %}
{% load blog_tags %}
{% load static %}
{% block title      %} Home {% endblock %}
{% block breadcrumb %} Home {% endblock %}

{% block css %}
<style>
   .jumbotron{
      background-color: #DA6020;
   }
   p{
      font-size: 1.1rem;
   }
</style>
{% endblock %}



{% block content %}
<div class="container-fluid">
   {% if message %}
   <center><h5 style="color:green">{{ message }}</h5></center>
   {% endif %}

   <div class = "row">
      <div class = "col-md-12 p-5">
         <section class="jumbotron text-center text-white">
            <div class="container">
               <img src="{% static 'academy/webPageImages/FFDAcademy_Logo.png' %}" alt="" width="40%">
            </div>
         </section>
      </div>
   </div>

   <div class="row justify-content-md-center">
      <div class="card col-lg-6 col-sm-10 m-2 mb-4">
         <div class="card-body">
            <center>
               <h2 class = "text-center pt-2">Prove you know what it takes to make an F1 driver</h2>
               <p class = "pt-4">Spend $120m to build your dream driver academy</p>
               <p>Recruit drivers across 4 formulas in the only <br />fantasy league for F1,F2, F3 and W Series
               </p>
               <p>Compete in a global league to find out who has <br />the ultimate academy
               </p>
               <p>Ready to choose {%if user.is_authenticated%}{{user.first_name|capfirst}}’s{%else%}your{%endif%}
                  Driver Academy ?</p>
                  <br />
               </center>
               {% if user.is_authenticated %}

               {% else %}
               <!-- LOG IN AND REGISTRATION BUTTONS -->
               <div class="row justify-content-md-center">
                  <div class="col-5">
                     <center><a class="btn btn-primary btn-lg" href="{% url 'login'%}" role="button">LOG IN</a>
                     </center><br />
                  </div>
                  <div class="col-5">
                     <center><a class="btn btn-primary btn-lg" href="{% url 'register'%}" role="button">SIGN UP</a>
                     <br />
                     </center>
                  </div>
               </div>
               {% endif %}
            </div>
         </div>
         <div class="col-lg-4 col-sm-10 m-2">
               {% show_next_race_sidebar 5 %}
         </div>
   </div>

   <div class="row justify-content-md-center">
      <div class="card col-10 m-2">
         <div class="card-body">
            <p>&nbsp;</p>
         </div>
      </div
   </div>
   <br/><br/><br/><br/>

   <br />

</div>

{% endblock %}

<!---------------------- FOOTER BLOCK  ------------------->
{% block footer %}
<div class="container">

</div>
{% endblock %}
